dxscale/sales/callItems/flows/CallItemOpportunityCreation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_Line_Items</name>
        <label>Create Line Items</label>
        <locationX>1507</locationX>
        <locationY>1332</locationY>
        <actionName>OpportunityProductFLowCtrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Call_Item_with_Opportunity_Id</targetReference>
        </connector>
        <inputParameters>
            <name>jsonString</name>
            <value>
                <elementReference>ProductJSONString</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Contact_Id_To_Bill_To_Variable</name>
        <label>Assign Contact Id To Bill To Variable</label>
        <locationX>708</locationX>
        <locationY>1795</locationY>
        <assignmentItems>
            <assignToReference>BillToContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CallItemContactID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Sell_To_Opportunity_Contact_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFurtherDiscussionsToStageName</name>
        <label>AssignFurtherDiscussionsToStageName</label>
        <locationX>1597</locationX>
        <locationY>594</locationY>
        <assignmentItems>
            <assignToReference>StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sale_Type_General</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Products_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRenewalType</name>
        <label>AssignRenewalType</label>
        <locationX>1422</locationX>
        <locationY>1195</locationY>
        <assignmentItems>
            <assignToReference>StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FurtherDiscussions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Products_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Bill_To_Contact_To_Sell_To_Contact</name>
        <label>Set Bill To Contact To Sell To Contact</label>
        <locationX>2314</locationX>
        <locationY>512</locationY>
        <assignmentItems>
            <assignToReference>BillToContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CallItemContactID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Bill_To_Contact_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Store Account Locale in flow variable for use in Assisted Sales call</description>
        <name>Set_Locale_Id</name>
        <label>Set Locale Id</label>
        <locationX>1532</locationX>
        <locationY>411</locationY>
        <assignmentItems>
            <assignToReference>LocaleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CallItemRecord.Account__r.Locale__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assisted_Sales_Opportunity_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Locale_Id_From_Selection</name>
        <label>Set Locale Id From Selection</label>
        <locationX>2227</locationX>
        <locationY>879</locationY>
        <assignmentItems>
            <assignToReference>LocaleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocaleKeyId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_We_Have_Locale</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Call_Item_with_Opportunity_Id</name>
        <label>Update Call Item with Opportunity Id</label>
        <locationX>1093</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>CallItemRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CallItemRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Converted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Call_Item_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ClosedWon</name>
        <choiceText>Closed Won</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed Won</stringValue>
        </value>
    </choices>
    <choices>
        <description>Cross-sell</description>
        <name>Crosssell</name>
        <choiceText>Cross-sell</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cross-sell</stringValue>
        </value>
    </choices>
    <choices>
        <name>FurtherDiscussions</name>
        <choiceText>Further Discussions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Discovery</stringValue>
        </value>
    </choices>
    <choices>
        <description>Opportunity Type Picklist Value</description>
        <name>Graduation</name>
        <choiceText>Graduation</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>InstantSale</name>
        <choiceText>Instant Decision</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed Won</stringValue>
        </value>
    </choices>
    <choices>
        <description>Instant Sale Opportunity SBC (Assisted Sales)</description>
        <name>InstantSaleOppSBC</name>
        <choiceText>SBC Instant Sale</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>InstantSaleSBC</elementReference>
        </value>
    </choices>
    <choices>
        <description>LeadSourceDefaultValue</description>
        <name>LeadSourceDefaultValue</name>
        <choiceText>Sales Generated</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SalesGenerated</stringValue>
        </value>
    </choices>
    <choices>
        <description>Migration</description>
        <name>Migration</name>
        <choiceText>Migration</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Migration</stringValue>
        </value>
    </choices>
    <choices>
        <description>NewBusiness</description>
        <name>NewBusiness</name>
        <choiceText>New Business</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Business</stringValue>
        </value>
    </choices>
    <choices>
        <description>None</description>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Onboarding</name>
        <choiceText>Onboarding</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Onboarding</stringValue>
        </value>
    </choices>
    <choices>
        <description>Reactivation</description>
        <name>Reactivation</name>
        <choiceText>Reactivation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reactivation</stringValue>
        </value>
    </choices>
    <choices>
        <description>Renewal Business</description>
        <name>RenewalBusiness</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Renewal Business&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Renewal Business</stringValue>
        </value>
    </choices>
    <choices>
        <name>RenewalLost</name>
        <choiceText>Renewal Lost</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed Lost</stringValue>
        </value>
    </choices>
    <choices>
        <description>Sales Dublin Office</description>
        <name>SalesDublinOffice</name>
        <choiceText>Dublin CBC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dublin CBC</stringValue>
        </value>
    </choices>
    <choices>
        <description>Sales Office Atlanta</description>
        <name>SalesOfficeAtlanta</name>
        <choiceText>Atlanta CBC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Atlanta CBC</stringValue>
        </value>
    </choices>
    <choices>
        <name>SaleType</name>
        <choiceText>Instant Sale</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed Won</stringValue>
        </value>
    </choices>
    <choices>
        <description>Standard Sales Opportunity</description>
        <name>StandardSalesOpportunity</name>
        <choiceText>Standard Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>StandardOpp</stringValue>
        </value>
    </choices>
    <choices>
        <description>Upsell</description>
        <name>Upsell</name>
        <choiceText>Upsell</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Upsell</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Bill_To_Contact_Field_Check</name>
        <label>Bill To Contact Field Check</label>
        <locationX>2555</locationX>
        <locationY>673</locationY>
        <defaultConnector>
            <targetReference>Is_Locale_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bill_To_Contact_Warning</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bill_To_Contact_Record.MailingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bill_To_Contact_Record.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bill_To_Contact_Record.MailingStreet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bill_To_Contact_Record.MailingPostalCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bill_To_Contact_Record.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bill_To_Contact_Record.MailingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bill_To_Contact_Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bill_To_Contact_Record.MailingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bill_To_Contact_Record.MailingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bill_To_Contact_Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bill_To_Contact_Record.Account.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bill_To_Contact_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assisted_Sales_Bill_To_Contact_Check</targetReference>
            </connector>
            <label>Bill To Contact Warning</label>
        </rules>
    </decisions>
    <decisions>
        <description>Call Item should be associated with a Contact prior to creation of Opportunity via assisted sales</description>
        <name>Call_Item_Contact_Check</name>
        <label>Call Item Contact Check</label>
        <locationX>800</locationX>
        <locationY>450</locationY>
        <defaultConnector>
            <targetReference>Call_Item_Contact_Field_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_not_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CallItemRecord.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Validation</targetReference>
            </connector>
            <label>Contact not present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Call_Item_Contact_Field_Check</name>
        <label>Call Item Contact Field Check</label>
        <locationX>805</locationX>
        <locationY>243</locationY>
        <defaultConnector>
            <targetReference>Get_Assisted_Sales_Agent_Group_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Call_Item_Contact_Warning</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CallItemRecord.Contact__r.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CallItemRecord.Contact__r.MailingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CallItemRecord.Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CallItemRecord.Contact__r.MailingStreet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CallItemRecord.Contact__r.MailingPostalCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CallItemRecord.Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CallItemRecord.Contact__r.MailingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CallItemRecord.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CallItemRecord.Contact__r.MailingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CallItemRecord.Contact__r.MailingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CallItemRecord.Account__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CallItemRecord.Account__r.BillingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assisted_Sales_Call_Item_Contact_Check</targetReference>
            </connector>
            <label>Call Item Contact Warning</label>
        </rules>
    </decisions>
    <decisions>
        <description>Look for valid locale on associated Account</description>
        <name>Check_Locale_Found</name>
        <label>Check Locale Found</label>
        <locationX>1522</locationX>
        <locationY>248</locationY>
        <defaultConnector>
            <targetReference>Assisted_Sales_Opportunity_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Locale_Found</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>CallItemRecord.Account__r.Locale__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CallItemRecord.Account__r.Locale__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>en_GB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CallItemRecord.Account__r.Locale__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>en_IE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Locale_Id</targetReference>
            </connector>
            <label>Locale Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Divert_if_Status_is_not_Working</name>
        <label>Divert if Status is not Working</label>
        <locationX>250</locationX>
        <locationY>1400</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Not_Working</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CallItemRecord.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Converted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Wrong_Stage_for_Flow</targetReference>
            </connector>
            <label>Status Not Working</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_We_Have_Locale</name>
        <label>Do We Have Locale</label>
        <locationX>2364</locationX>
        <locationY>938</locationY>
        <defaultConnector>
            <targetReference>Get_Locale_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Still_No_Locale</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LocaleId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocaleId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assisted_Sales_Locale_Check</targetReference>
            </connector>
            <label>Still No Locale</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Locale_Differ_From_Contacts</name>
        <label>Does Locale Differ From Contacts</label>
        <locationX>2117</locationX>
        <locationY>1259</locationY>
        <defaultConnector>
            <targetReference>Get_Small_Opportunity_Record_Type_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Locale_Changed</name>
            <conditionLogic>5 AND (1 OR 2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>CallItemRecord.Contact__r.Locale__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bill_To_Contact_Record.Locale__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocaleId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CallItemRecord.Contact__r.Locale__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocaleId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Bill_To_Contact_Record.Locale__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocaleId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Locales</targetReference>
            </connector>
            <label>Contact Locale Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Bill_To_Same_As_Sell_To_Contact</name>
        <label>Is Bill To Same As Sell To Contact</label>
        <locationX>2038</locationX>
        <locationY>405</locationY>
        <defaultConnector>
            <targetReference>Get_Bill_To_Contact_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bill_To_Same_As_Sell_To_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bill_To_Contact_same_as_Sell_To_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Bill_To_Contact_To_Sell_To_Contact</targetReference>
            </connector>
            <label>Bill To Same As Sell To Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Locale_Or_Sales_Office_Changed</name>
        <label>Does Locale Or Sales Office Differ From Account</label>
        <locationX>2366</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>Does_Locale_Differ_From_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Field_Changed</name>
            <conditionLogic>1 OR (6 AND (2 OR 3 OR 4 OR 5))</conditionLogic>
            <conditions>
                <leftValueReference>Sales_Office</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CallItemRecord.Account__r.Sales_Office__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CallItemRecord.Account__r.Locale__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bill_To_Contact_Record.Account.Locale__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocaleId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CallItemRecord.Account__r.Locale__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocaleId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Bill_To_Contact_Record.Account.Locale__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocaleId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Account Field Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Locale selected onscreen</description>
        <name>Is_Locale_Selected</name>
        <label>Is Locale Selected</label>
        <locationX>2365</locationX>
        <locationY>816</locationY>
        <defaultConnector>
            <targetReference>Do_We_Have_Locale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Screen_Locale_Id_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocaleKeyId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocaleKeyId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Locale_Id_From_Selection</targetReference>
            </connector>
            <label>Screen Locale Id Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_An_SBC_Opportunity</name>
        <label>Is This An SBC Opportunity</label>
        <locationX>1703</locationX>
        <locationY>1651</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SBC_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sale_Type_General</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InstantSaleOppSBC</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SBC_Instant_Sale</targetReference>
            </connector>
            <label>SBC Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_An_SBC_Opportunity_0</name>
        <label>Is This An SBC Opportunity</label>
        <locationX>700</locationX>
        <locationY>1445</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunity_Contact_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SBC_Opportunity_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sale_Type_General</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InstantSaleOppSBC</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Sell_To_Opportunity_Contact_Role</targetReference>
            </connector>
            <label>SBC Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_Ready_For_Assisted_Sales</name>
        <label>Is User Ready For Assisted Sales</label>
        <locationX>1276</locationX>
        <locationY>243</locationY>
        <defaultConnector>
            <targetReference>Check_Locale_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Ready_For_AS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.FederationIdentifier</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssistedSalesUserGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.FederationIdentifier</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssistedSalesUserGroup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assisted_Sales_Requirements_Check</targetReference>
            </connector>
            <label>Not Ready For AS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Selected</name>
        <label>Product Not  Selected</label>
        <locationX>1947</locationX>
        <locationY>875</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Not_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productsaved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Product Not Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Renewal_Type_Decision</name>
        <label>Renewal Type Decision</label>
        <locationX>934</locationX>
        <locationY>795</locationY>
        <defaultConnector>
            <targetReference>SaleTypeSelection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewal_Type_Decision_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RenewalBusiness</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RenewalSaleTypeSelection</targetReference>
            </connector>
            <label>Renewal Type Decision Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>RenewalSaleTypeDecision</name>
        <label>RenewalSaleTypeDecision</label>
        <locationX>1075</locationX>
        <locationY>996</locationY>
        <defaultConnector>
            <targetReference>AssignRenewalType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutComeSaleTypeDecision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Renewal_Sale_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InstantSale</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Renewal_Sale_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RenewalLost</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Renewal_Won_Reasons</targetReference>
            </connector>
            <label>OutComeSaleTypeDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>SaleTypeDecision</name>
        <label>SaleTypeDecision</label>
        <locationX>1143</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>AssignFurtherDiscussionsToStageName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutComeSaleTypeNewDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sale_Type_General</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InstantSale</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Renewal_Won_Reasons</targetReference>
            </connector>
            <label>OutComeSaleTypeNewDecision</label>
        </rules>
        <rules>
            <name>OutcomeSaleTypeSBC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sale_Type_General</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InstantSaleOppSBC</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Item_Contact_Check</targetReference>
            </connector>
            <label>OutcomeSaleTypeSBC</label>
        </rules>
    </decisions>
    <decisions>
        <name>WinLossReasonsCheck</name>
        <label>WinLossReasonsCheck</label>
        <locationX>1247</locationX>
        <locationY>829</locationY>
        <defaultConnector>
            <targetReference>Add_Products_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WinLossReasonsCheckOutcome</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>WinLossRejectResons</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InstantSale</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RenewalLost</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WinLossValidationScreen</targetReference>
            </connector>
            <label>WinLossReasonsCheckOutcome</label>
        </rules>
    </decisions>
    <description>Create Opportunity When the call item is converted</description>
    <dynamicChoiceSets>
        <name>AssistedSalesGroups</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assisted Sales Agent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assisted Sales Manager</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ClosedLostReasonsPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Why_We_Lost__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ClosedWonReasonsPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Why_We_Won__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Commercialisation Mode</description>
        <name>CommercialisationMode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Commercialisation_Mode__c</picklistField>
        <picklistObject>OpportunityLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContractAmountPeriodPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Previous_Contract_Amount_Period__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Lead Source Picklist values</description>
        <name>LeadSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lead_Source__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpportunityStage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Opportunity Type Picklist</description>
        <name>OpportunityType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Product Deployment</description>
        <name>ProductDeployment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product_Deployment__c</picklistField>
        <picklistObject>OpportunityLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Locales used in SBC Opportunities</description>
        <name>SBCLocales</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>en_GB</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>en_IE</stringValue>
            </value>
        </filters>
        <object>Locale__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>stage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>closedate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+30</expression>
    </formulas>
    <formulas>
        <name>Oppclosedate1</name>
        <dataType>String</dataType>
        <expression>Text({!$Flow.CurrentDate})</expression>
    </formulas>
    <formulas>
        <description>Combination of Accountname + CampaignName</description>
        <name>OpportunityName</name>
        <dataType>String</dataType>
        <expression>{!AccountName}+{!CampaignName}+{!Oppclosedate1}</expression>
    </formulas>
    <interviewLabel>CallItem_OpportunityCreation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CallItemOpportunityCreation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Bill To Opportunity Contact Role form the OpportunityID and ContactID from the CallIItem</description>
        <name>Create_Bill_To_Opportunity_Contact_Role</name>
        <label>Create Bill To Opportunity Contact Role</label>
        <locationX>1328</locationX>
        <locationY>1650</locationY>
        <connector>
            <targetReference>CallITem_ActivityTo_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>BillToContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Bill To</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordCreates>
        <description>Create opportunity</description>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>1963</locationX>
        <locationY>1324</locationY>
        <assignRecordIdToReference>OpportunityID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>CallItemRecord.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>CallItemRecord.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>closedate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Term_Months__c</field>
            <value>
                <elementReference>Contract_Term_Months</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedByFlow__c</field>
            <value>
                <stringValue>CallItem</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>AccountCurrency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discovery_Notes__c</field>
            <value>
                <elementReference>Qualification_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Value_RRP__c</field>
            <value>
                <elementReference>Renewal_Expected_Value_RRP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source__c</field>
            <value>
                <elementReference>LeadSourceDefaultValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>PriceBookId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>CallItemRecord.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121o000000wulLAAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Opportunity_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_We_Lost__c</field>
            <value>
                <elementReference>WinLossRejectResons</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Win_Loss_Other_Reason__c</field>
            <value>
                <elementReference>WinLossRejectComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Win_Loss_Reject_Reasons_Level1__c</field>
            <value>
                <elementReference>WinLossRejectLevel1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Win_Loss_Reject_Reasons_Level2__c</field>
            <value>
                <elementReference>WinLossRejectLevel2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Win_Loss_Reject_Reasons_Level3__c</field>
            <value>
                <elementReference>WinLossRejectLevel3</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <description>Create Opportunity Contact Role form the OpportunityID and ContactID from the CallITem</description>
        <name>Create_Opportunity_Contact_Role</name>
        <label>Create Opportunity Contact Role</label>
        <locationX>706</locationX>
        <locationY>1635</locationY>
        <connector>
            <targetReference>Assign_Contact_Id_To_Bill_To_Variable</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>CallItemContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Business User</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordCreates>
        <description>Create SBC opportunity</description>
        <name>Create_SBC_Opportunity</name>
        <label>Create SBC Opportunity</label>
        <locationX>1711</locationX>
        <locationY>1526</locationY>
        <assignRecordIdToReference>OpportunityID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>CallItemRecord.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>CallItemRecord.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>closedate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Term_Months__c</field>
            <value>
                <elementReference>Contract_Term_Months</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedByFlow__c</field>
            <value>
                <stringValue>SBC Assisted Sales</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>AccountCurrency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source__c</field>
            <value>
                <elementReference>LeadSourceDefaultValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>PriceBookId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>CallItemRecord.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SmallOpportunityRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualify</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Opportunity_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <description>Create Sell To Opportunity Contact Role form the OpportunityID and ContactID from the CallIItem</description>
        <name>Create_Sell_To_Opportunity_Contact_Role</name>
        <label>Create Sell To Opportunity Contact Role</label>
        <locationX>1174</locationX>
        <locationY>1650</locationY>
        <connector>
            <targetReference>Create_Bill_To_Opportunity_Contact_Role</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>CallItemContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Sell To</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Name</name>
        <label>Get Account Name</label>
        <locationX>488</locationX>
        <locationY>1393</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Campaign_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CallItemRecord.Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountCurrency</assignToReference>
            <field>CurrencyIsoCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Assisted_Sales_Agent_Group_Id</name>
        <label>Get Assisted Sales Agent Group Id</label>
        <locationX>978</locationX>
        <locationY>122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assisted_Sales_Manager_Group_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assisted Sales Agent</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>AssistedSalesAgentGroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Assisted_Sales_Group_For_User</name>
        <label>Get Assisted Sales Group For User</label>
        <locationX>1098</locationX>
        <locationY>328</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_User_Ready_For_Assisted_Sales</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssistedSalesAgentGroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssistedSalesManagerGroupId</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputAssignments>
            <assignToReference>AssistedSalesUserGroup</assignToReference>
            <field>GroupId</field>
        </outputAssignments>
        <sortField>UserOrGroupId</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Assisted_Sales_Manager_Group_Id</name>
        <label>Get Assisted Sales Manager Group Id</label>
        <locationX>1098</locationX>
        <locationY>122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assisted_Sales_Group_For_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assisted Sales Manager</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>AssistedSalesManagerGroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Bill_To_Contact_Record</name>
        <label>Get Bill To Contact Record</label>
        <locationX>2563</locationX>
        <locationY>406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bill_To_Contact_Field_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BillToContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Name</name>
        <label>Get Campaign Name</label>
        <locationX>488</locationX>
        <locationY>1150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_Opportunity_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CallItemRecord.Campaign__c</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>CampaignName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Contact Id from CallItem</description>
        <name>Get_Contact_Id_from_CallItem</name>
        <label>Get Contact Id from CallItem</label>
        <locationX>258</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Divert_if_Status_is_not_Working</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <object>Call_Item__c</object>
        <outputAssignments>
            <assignToReference>CallItemContactID</assignToReference>
            <field>Contact__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Locale_Record</name>
        <label>Get Locale Record</label>
        <locationX>2372</locationX>
        <locationY>1108</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Locale_Or_Sales_Office_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LocaleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Locale__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Small_Opportunity_Record_Type_Id</name>
        <label>Get Small Opportunity Record Type Id</label>
        <locationX>2020</locationX>
        <locationY>1526</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_SBC_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Small Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>SmallOpportunityRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Populate_Call_Item_Record</name>
        <label>Populate Call Item Record</label>
        <locationX>258</locationX>
        <locationY>977</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Id_from_CallItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <object>Call_Item__c</object>
        <outputReference>CallItemRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Campaign__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Amount_to_Collect__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>2366</locationX>
        <locationY>1526</locationY>
        <connector>
            <targetReference>Does_Locale_Differ_From_Contacts</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CallItemRecord.Contact__r.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bill_To_Contact_Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Locale_Billing_CC__c</field>
            <value>
                <elementReference>Get_Locale_Record.Country_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Locale__c</field>
            <value>
                <elementReference>LocaleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Office__c</field>
            <value>
                <elementReference>Sales_Office</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Add the new Opportunity Id to the Call Item</description>
        <name>Update_Call_Item_Record</name>
        <label>Update Call Item Record</label>
        <locationX>708</locationX>
        <locationY>1212</locationY>
        <connector>
            <targetReference>Is_This_An_SBC_Opportunity_0</targetReference>
        </connector>
        <inputReference>CallItemRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Locales</name>
        <label>Update Contact Locales</label>
        <locationX>2240</locationX>
        <locationY>1526</locationY>
        <connector>
            <targetReference>Get_Small_Opportunity_Record_Type_Id</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CallItemRecord.Contact__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bill_To_Contact_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Locale__c</field>
            <value>
                <elementReference>LocaleId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <description>Allow entry of products and details that will on creation of an Opportunity map to Opportunity Line Items</description>
        <name>Add_Products_Screen</name>
        <label>Add Products</label>
        <locationX>1619</locationX>
        <locationY>823</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Product_Selected</targetReference>
        </connector>
        <fields>
            <name>OpportunityProductList</name>
            <extensionName>c:OpportunityProductList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currencyISOCode</name>
                <value>
                    <elementReference>AccountCurrency</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pricebookId</name>
                <value>
                    <elementReference>PriceBookId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>productJSONString</name>
                <value>
                    <elementReference>ProductJSONString</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedLookUpRecordsString</name>
                <value>
                    <elementReference>selectedLookUpRecordsString</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>productsaved</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ProductJSONString</assignToReference>
                <name>productJSONString</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedLookUpRecordsString</assignToReference>
                <name>selectedLookUpRecordsString</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>productsaved</assignToReference>
                <name>productsaved</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Assisted_Sales_Bill_To_Contact_Check</name>
        <label>Assisted Sales Bill To Contact Check</label>
        <locationX>2373</locationX>
        <locationY>673</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Locale_Selected</targetReference>
        </connector>
        <fields>
            <name>Assisted_Sales_Bill_To_Contact_Fields_Check</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 156, 21);&quot;&gt;WARNING: Before running the Assisted Sales UI you will need to the following fields to be present on your Opportunity&apos;s Bill To Contact: Email, Account, Street, Postcode and Country. &lt;/span&gt;&lt;span style=&quot;color: rgb(234, 156, 21); background-color: rgb(255, 255, 255);&quot;&gt;The referenced Account should have Billing Country set too. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Assisted_Sales_Call_Item_Contact_Check</name>
        <label>Assisted Sales Call Item Contact Check</label>
        <locationX>813</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Assisted_Sales_Agent_Group_Id</targetReference>
        </connector>
        <fields>
            <name>Assisted_Sales_Contact_Fields_Check</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 156, 21);&quot;&gt;WARNING: Before running the Assisted Sales UI you will need to the following fields to be present on your Call Item&apos;s Contact: Email, Account, Street, Postcode and Country. &lt;/span&gt;&lt;span style=&quot;color: rgb(234, 156, 21); background-color: rgb(255, 255, 255);&quot;&gt;The referenced Account should have Billing Country set too. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Assisted_Sales_Locale_Check</name>
        <label>Assisted Sales Locale Check</label>
        <locationX>2116</locationX>
        <locationY>1043</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Locale_Or_Sales_Office_Changed</targetReference>
        </connector>
        <fields>
            <name>Assisted_Sales_Locale_Check_Warning</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 159, 18);&quot;&gt;WARNING: Before running the Assisted Sales UI you will need a Locale to be set (on Account).&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Information required for Assisted Sales Opportunity</description>
        <name>Assisted_Sales_Opportunity_Information</name>
        <label>Assisted Sales Opportunity Information</label>
        <locationX>1848</locationX>
        <locationY>403</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Bill_To_Same_As_Sell_To_Contact</targetReference>
        </connector>
        <fields>
            <name>Sales_Office</name>
            <choiceReferences>SalesDublinOffice</choiceReferences>
            <choiceReferences>SalesOfficeAtlanta</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>SalesDublinOffice</defaultSelectedChoiceReference>
            <fieldText>Sales Office</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LocaleKeyId</name>
            <choiceReferences>SBCLocales</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Locale</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LocaleId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Bill_To_Contact_same_as_Sell_To_Contact</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Bill To Contact same as Sell To Contact</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ContactSelector</name>
            <extensionName>c:AccountContactSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CallItemRecord.Account__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <elementReference>CallItemRecord.Contact__r.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>BillToContactId</assignToReference>
                <name>contactId</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Bill_To_Contact_same_as_Sell_To_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Assisted_Sales_Requirements_Check</name>
        <label>Assisted Sales Requirements Check</label>
        <locationX>1284</locationX>
        <locationY>63</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Locale_Found</targetReference>
        </connector>
        <fields>
            <name>Assisted_Sales_User_Check</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 156, 21);&quot;&gt;WARNING: Before running the Assisted Sales UI you will need your Email and Federation Id populated on your User record, as well as membership of one of the Assisted Sales Groups.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Collect_Opportunity_Information</name>
        <label>Collect Opportunity Information</label>
        <locationX>702</locationX>
        <locationY>793</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Renewal_Type_Decision</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OpportunityName</elementReference>
            </defaultValue>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Opportunity_Type</name>
            <choiceReferences>NewBusiness</choiceReferences>
            <choiceReferences>Crosssell</choiceReferences>
            <choiceReferences>Upsell</choiceReferences>
            <choiceReferences>Migration</choiceReferences>
            <choiceReferences>Reactivation</choiceReferences>
            <choiceReferences>RenewalBusiness</choiceReferences>
            <choiceReferences>Onboarding</choiceReferences>
            <choiceReferences>Graduation</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>NewBusiness</defaultSelectedChoiceReference>
            <fieldText>Opportunity Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contract_Term_Months</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>12.0</numberValue>
            </defaultValue>
            <fieldText>Contract Term (Months)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Qualification_Notes</name>
            <fieldText>Qualification Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>callItemSelectPricebook</name>
            <extensionName>c:SelectPriceBook</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>PriceBookId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currencyIsoCode</name>
                <value>
                    <elementReference>AccountCurrency</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>PriceBookId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Validation</name>
        <label>Contact Validation</label>
        <locationX>620</locationX>
        <locationY>450</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ContactNotSpecified</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 16, 16);&quot;&gt;Error: The Call Item should be associated with a Contact before creating an SBC Opportunity.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1818</locationX>
        <locationY>1191</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Products_Screen</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(218, 17, 17);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;b style=&quot;font-size: 18px; font-family: Calibri, sans-serif; color: rgb(205, 18, 18);&quot;&gt;Please save the record before pressing next&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Renewal_Won_Reasons</name>
        <label>Renewal Won Reasons</label>
        <locationX>1147</locationX>
        <locationY>870</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WinLossReasonsCheck</targetReference>
        </connector>
        <fields>
            <name>OpportunityDependentPicklist</name>
            <extensionName>c:oppStageDependentPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>StageName</assignToReference>
                <name>selectedStageFlow</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>WinLossRejectComments</assignToReference>
                <name>selectedWinLossRejectCommentsFlow</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>WinLossRejectLevel1</assignToReference>
                <name>selectedWinLossRejectLevel1Flow</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>WinLossRejectLevel2</assignToReference>
                <name>selectedWinLossRejectLevel2Flow</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>WinLossRejectLevel3</assignToReference>
                <name>selectedWinLossRejectLevel3Flow</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>WinLossRejectResons</assignToReference>
                <name>selectedWinLossRejectReasonFlow</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RenewalSaleTypeSelection</name>
        <label>RenewalSaleTypeSelection</label>
        <locationX>942</locationX>
        <locationY>995</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RenewalSaleTypeDecision</targetReference>
        </connector>
        <fields>
            <name>Renewal_Sale_Type</name>
            <choiceReferences>InstantSale</choiceReferences>
            <choiceReferences>FurtherDiscussions</choiceReferences>
            <choiceReferences>RenewalLost</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sale Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Renewal_Expected_Value_RRP</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>CallItemRecord.Amount_to_Collect__c</elementReference>
            </defaultValue>
            <fieldText>Expected Value (RRP)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SaleTypeSelection</name>
        <label>SaleTypeSelection</label>
        <locationX>943</locationX>
        <locationY>605</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SaleTypeDecision</targetReference>
        </connector>
        <fields>
            <name>Sale_Type_General</name>
            <choiceReferences>InstantSale</choiceReferences>
            <choiceReferences>FurtherDiscussions</choiceReferences>
            <choiceReferences>InstantSaleOppSBC</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sale Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SBC_Instant_Sale</name>
        <label>SBC Instant Sale</label>
        <locationX>1968</locationX>
        <locationY>1650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OpportunityAssistedSales</name>
            <extensionName>c:OpportunityAssistedSales</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>OpportunityID</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to tell end user that they can&apos;t run the flow as the call item is not in Working status</description>
        <name>Screen_Wrong_Stage_for_Flow</name>
        <label>Screen Wrong Stage for Flow</label>
        <locationX>50</locationX>
        <locationY>1395</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UserInstruction</name>
            <fieldText>&lt;p&gt;An Opportunity is created and future changes and activities should be managed against the Opportunity and not against this Call Item.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WinLossValidationScreen</name>
        <label>WinLossValidationScreen</label>
        <locationX>1443</locationX>
        <locationY>753</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>WinLossErrorValidation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(211, 17, 17); font-family: -webkit-standard; font-size: 14px;&quot;&gt;&amp;nbsp;Must provide a reason for Closed Won/Lost opportunities. Please go back and fill out the Win/Loss Reasons.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>133</locationX>
        <locationY>567</locationY>
        <connector>
            <targetReference>Populate_Call_Item_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CallITem_ActivityTo_Opp</name>
        <label>CallITem ActivityTo Opp</label>
        <locationX>1483</locationX>
        <locationY>1649</locationY>
        <connector>
            <targetReference>Is_This_An_SBC_Opportunity</targetReference>
        </connector>
        <flowName>Activity_Migration</flowName>
        <inputAssignments>
            <name>Object1ID</name>
            <value>
                <elementReference>CallItemRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object1Name</name>
            <value>
                <stringValue>Call Items</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object2ID</name>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object2Name</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AccountCurrency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssistedSalesAgentGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssistedSalesManagerGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Value present if running user is in an Assisted Sales Public Group</description>
        <name>AssistedSalesUserGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <description>Bill To Contact&apos;s Id</description>
        <name>BillToContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Call Item ContactID</description>
        <name>CallItemContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CallItemRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Call_Item__c</objectType>
    </variables>
    <variables>
        <description>CallListAccount</description>
        <name>CallListAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CallListCampaignID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CampaignID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CampaignName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Instant Sale Opportunity SBC</description>
        <name>InstantSaleSBC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>SBC</stringValue>
        </value>
    </variables>
    <variables>
        <description>SBC Locale Id</description>
        <name>LocaleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppcloseDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>OpportunityLineItem RecordID</description>
        <name>OpportunityLineItemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PriceBookEntryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PriceBookEntryIDFromFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>PriceBook to use to select products and record against the Opportunity</description>
        <name>PriceBookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductJSONString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>[]</stringValue>
        </value>
    </variables>
    <variables>
        <name>productsaved</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedLookUpRecordsString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>[]</stringValue>
        </value>
    </variables>
    <variables>
        <name>selectProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SmallOpportunityRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WhyWeLost</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WhyWeWon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WinLossRejectComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WinLossRejectLevel1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WinLossRejectLevel2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WinLossRejectLevel3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WinLossRejectResons</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
