dxscale/sales/opportunityCreationFlow/flows/Account_Opportunity_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_Line_Items</name>
        <label>Create Line Items</label>
        <locationX>1401</locationX>
        <locationY>1398</locationY>
        <actionName>OpportunityProductFLowCtrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Sell_To_Opportunity_Contact_Role</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>jsonString</name>
            <value>
                <elementReference>ProductJSONString</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>NewOpportunity.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Account_Fields_to_Opportunity</name>
        <label>Assign Account Fields to Opportunity</label>
        <locationX>1134</locationX>
        <locationY>368</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingAccount.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Me_Decision_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Close_Date</name>
        <label>Assign Close Date if provided</label>
        <locationX>355</locationX>
        <locationY>1327</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Back_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Opportunity_Fields_For_Me</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_CloseDate</name>
        <label>Assign Default CloseDate</label>
        <locationX>774</locationX>
        <locationY>1159</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>closedate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Opportunity_Fields_For_Me</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DemoDate_Fields</name>
        <label>Assign DemoDate Fields</label>
        <locationX>349</locationX>
        <locationY>1006</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity.Demo_Booked_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Demo_Booked_Datetime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.OnSite_Validation_Request_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OnSite_Validation_Request_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isCallBackDateEntered</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If it is not a instant decision or renewal lost then it can only be further discussions</description>
        <name>Assign_Further_Discussions</name>
        <label>Assign Further Discussions</label>
        <locationX>1427</locationX>
        <locationY>345</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sale_Type_Renewal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_SaleType_Renewal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Fields</name>
        <label>Assign Lead Fields</label>
        <locationX>1917</locationX>
        <locationY>967</locationY>
        <assignmentItems>
            <assignToReference>NewLead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactDetails.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLead.Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLead.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactDetails.MailingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactDetails.MailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLead.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactDetails.MailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactDetails.MailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLead.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactDetails.MailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLead.Call_Me_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CallRequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactDetails.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactDetails.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLead.Funnel_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FunnelStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QueueGroup.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLead.Business_Needs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLead.Product_Solution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Category</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Fields_For_Me</name>
        <label>Assign Opportunity Static Fields</label>
        <locationX>990</locationX>
        <locationY>1182</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity.Contract_Term_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Term_Months</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriceBookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VolumeRecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingAccount.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingAccount.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.CreatedByFlow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountOpportunityNonReferral</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Marketing_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marketing_Channel1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Fields_For_SBC</name>
        <label>Assign SBC Opportunity Static Fields</label>
        <locationX>1208</locationX>
        <locationY>1416</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity.Contract_Term_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Term_Months_SBC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Source_SBC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriceBookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Type_SBC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SmallOpportunityRT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingAccount.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingAccount.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.CreatedByFlow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SBC Assisted Sales</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualify</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>closedate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Opportunity Owner to QAssign When the HotTransfer Field Output is No</description>
        <name>Assign_Opportunity_Owner</name>
        <label>Assign Opportunity Owner</label>
        <locationX>1662</locationX>
        <locationY>1184</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Opportunity_Static_Fields_Small_Medium</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Static_Fields_Small_Medium</name>
        <label>Assign Opportunity Static Fields</label>
        <locationX>1421</locationX>
        <locationY>1184</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VolumeRecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Back_Date_Small_Medium</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Source_Small_Medium</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Type_Small_Medium</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingAccount.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingAccount.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_Small_Medium</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Contract_Term_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Marketing_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marketing_Channel_Small_Medium</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sale_Type</name>
        <label>Assign Sale Type</label>
        <locationX>720</locationX>
        <locationY>855</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaleType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Additional_Demo_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Opportunity Close date for Renewal Lost must be current date.</description>
        <name>Assign_SaleType_Renewal</name>
        <label>Assign SaleType Renewal</label>
        <locationX>1096</locationX>
        <locationY>1078</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Expected_Value_RRP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expected_Value_RRP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Opportunity_Fields_For_Me</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Accountant Product Segment Values</description>
        <name>AssignAccountantProductSegment</name>
        <label>AssignAccountantProductSegment</label>
        <locationX>1653</locationX>
        <locationY>661</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity.Product_Allocation_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accountant_Product_Allocation_Group</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualify</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HotTransferDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCreatedByFlow</name>
        <label>AssignCreatedByFlow</label>
        <locationX>1801</locationX>
        <locationY>901</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity.CreatedByFlow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccOppReferralNotHotTransfer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Qassign_UserID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCreatedByFlowNotHotTransfer</name>
        <label>AssignCreatedByFlowNotHotTransfer</label>
        <locationX>1462</locationX>
        <locationY>990</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity.CreatedByFlow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccOppReferralHotTransfer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Qassign_UserID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewBusinessWinLossReasons</name>
        <label>AssignNewBusinessWinLossReasons</label>
        <locationX>976</locationX>
        <locationY>829</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity.Why_We_Lost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WinLossReasons</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WinLossReasonCheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSmallMicroProductSegment</name>
        <label>AssignSmallMicroProductSegment</label>
        <locationX>1752</locationX>
        <locationY>688</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity.Product_Allocation_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Allocation_Group</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HotTransferDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Win Loss Reasons</description>
        <name>AssignWinLossReasons</name>
        <label>AssignWinLossReasons</label>
        <locationX>1269</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity.Why_We_Lost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WinLossReasons</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WinLossReasonRenwalOppCheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ISVDivisionSelectionAssignmnet</name>
        <label>ISVDivisionSelectionAssignmnet</label>
        <locationX>1561</locationX>
        <locationY>632</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity.Product_Allocation_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ISV_Product_Allocation_Group</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HotTransferDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Bill_To_Contact_To_Contact</name>
        <label>Set Bill To Contact To Contact</label>
        <locationX>1515</locationX>
        <locationY>1405</locationY>
        <assignmentItems>
            <assignToReference>BillToContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Bill_To_Opportunity_Contact_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Bill_To_Contact_To_Sell_To_Contact</name>
        <label>Set Bill To Contact To Sell To Contact</label>
        <locationX>533</locationX>
        <locationY>1661</locationY>
        <assignmentItems>
            <assignToReference>BillToContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Bill_To_Contact_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Locale Id found on Account</description>
        <name>Set_Locale_Id</name>
        <label>Set Locale Id</label>
        <locationX>361</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>LocaleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sell_To_Contact_Details.Account.Locale__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_SBC_Opportunity_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Use screen selection to set Locale Id</description>
        <name>Set_Locale_Id_From_Selection</name>
        <label>Set Locale Id From Selection</label>
        <locationX>889</locationX>
        <locationY>1962</locationY>
        <assignmentItems>
            <assignToReference>LocaleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocaleKeyId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_We_Have_Locale</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Product Allocation Group Options</description>
        <name>Account</name>
        <choiceText>Accounting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>AccountantsReferral</name>
        <choiceText>Accountants Referral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accountants Referral</stringValue>
        </value>
    </choices>
    <choices>
        <description>Account Locale</description>
        <name>AccountLocale</name>
        <choiceText>{!GetAccountLocaleFormula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>GetAccountLocaleFormula</elementReference>
        </value>
    </choices>
    <choices>
        <description>AccountSalesOfficeChoice</description>
        <name>AccountSalesOfficeChoice</name>
        <choiceText>{!GetAccountSalesOfficeFormula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>GetAccountSalesOfficeFormula</elementReference>
        </value>
    </choices>
    <choices>
        <description>AD - Final Accounts/Taxation Online</description>
        <name>ADFinalAccountsTaxationOnline</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;AD - Final Accounts/Taxation Online&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ADFinalAccountsTaxationOnline</stringValue>
        </value>
    </choices>
    <choices>
        <description>AD - Making Tax Digital</description>
        <name>ADMakingTaxDigital</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;AD - Making Tax Digital&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ADMakingTaxDigital</stringValue>
        </value>
    </choices>
    <choices>
        <description>AD - Network</description>
        <name>ADNetwork</name>
        <choiceText>AD - Network</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ADNetwork</stringValue>
        </value>
    </choices>
    <choices>
        <description>AD -  Network Client Manager</description>
        <name>ADNetworkClientManager</name>
        <choiceText>AD - Network Client Manager</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ADNetworkClientManager</stringValue>
        </value>
    </choices>
    <choices>
        <description>AD - Payroll Bureau</description>
        <name>ADPayrollBureau</name>
        <choiceText>AD - Payroll Bureau</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ADPayrollBureau</stringValue>
        </value>
    </choices>
    <choices>
        <description>AD - Practice Solutions (Product &amp; Training)</description>
        <name>ADPracticeSolutions</name>
        <choiceText>AD - Practice Solutions(Product and Training)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ADPracticeSolutions</stringValue>
        </value>
    </choices>
    <choices>
        <description>AD - Stationery</description>
        <name>ADStationery</name>
        <choiceText>AD - Stationery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ADStationery</stringValue>
        </value>
    </choices>
    <choices>
        <description>Sales Product Allocation Group Options</description>
        <name>BrandedStationery</name>
        <choiceText>Branded Stationery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Branded Stationery</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChioceProductSegmentISV</name>
        <choiceText>ISV</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ISV</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceOppForMe</name>
        <choiceText>Create Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Me</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceOppForOther</name>
        <choiceText>Create Referral Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Someone Else</stringValue>
        </value>
    </choices>
    <choices>
        <description>SBC Opportunity (Assisted Sales)</description>
        <name>ChoiceOppForSBC</name>
        <choiceText>SBC Instant Sale</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SBCOpportunity</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceProductSegmentAccountantDivision</name>
        <choiceText>Accountants Division</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accountant Division</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceProductSegmentMedium</name>
        <choiceText>Medium</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medium</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceProductSegmentSmallMicro</name>
        <choiceText>Small / Micro</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Small/Micro</stringValue>
        </value>
    </choices>
    <choices>
        <name>ColleaguesReferral</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;Colleagues Referral&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Colleagues Referral</stringValue>
        </value>
    </choices>
    <choices>
        <description>Cross-sell</description>
        <name>Crosssell</name>
        <choiceText>Cross-sell</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cross-sell</stringValue>
        </value>
    </choices>
    <choices>
        <name>CustomerServicesReferral</name>
        <choiceText>Customer Services Referral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Services Referral</stringValue>
        </value>
    </choices>
    <choices>
        <name>CustomersReferral</name>
        <choiceText>Customers Referral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customers Referral</stringValue>
        </value>
    </choices>
    <choices>
        <name>FurtherDiscussion</name>
        <choiceText>Further Discussion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Discovery</stringValue>
        </value>
    </choices>
    <choices>
        <description>General Account</description>
        <name>GAccount</name>
        <choiceText>G - Accounting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GAccount</stringValue>
        </value>
    </choices>
    <choices>
        <description>G - Branded Stationery</description>
        <name>GBrandedStationery</name>
        <choiceText>G - Branded Stationery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GBrandedStationery</stringValue>
        </value>
    </choices>
    <choices>
        <name>GHR</name>
        <choiceText>G - HR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GHR</stringValue>
        </value>
    </choices>
    <choices>
        <name>GPayroll</name>
        <choiceText>G - Payroll</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GPayroll</stringValue>
        </value>
    </choices>
    <choices>
        <description>Opportunity Type Picklist Value</description>
        <name>Graduation</name>
        <choiceText>Graduation</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <description>G - Stationery Accountant Product Segment Group</description>
        <name>GStationery</name>
        <choiceText>G - Stationery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GStationery</stringValue>
        </value>
    </choices>
    <choices>
        <description>G - Training  Product Allocation Group Options</description>
        <name>GTraining</name>
        <choiceText>G - Training</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GTraining</stringValue>
        </value>
    </choices>
    <choices>
        <description>Sales Product Allocation Group</description>
        <name>HR</name>
        <choiceText>HR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HR</stringValue>
        </value>
    </choices>
    <choices>
        <name>InProductRequest</name>
        <choiceText>In-Product Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In-Product Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>InstantSale</name>
        <choiceText>Instant Decision</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed Won</stringValue>
        </value>
    </choices>
    <choices>
        <description>ISV-AutoEntry</description>
        <name>ISV_AutoEntry</name>
        <choiceText>AutoEntry</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ISV-AutoEntry</stringValue>
        </value>
    </choices>
    <choices>
        <name>ISV_AutomationBundle</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;Automation Bundle&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ISV-AutomationBundle</stringValue>
        </value>
    </choices>
    <choices>
        <name>ISV_CakeHR</name>
        <choiceText>CakeHR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ISV-CakeHR</stringValue>
        </value>
    </choices>
    <choices>
        <name>ISV_Cascade</name>
        <choiceText>Cascade</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ISV-Cascade</stringValue>
        </value>
    </choices>
    <choices>
        <name>ISV_CashflowBundle</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;Cashflow Bundle&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ISV-CashflowBundle</stringValue>
        </value>
    </choices>
    <choices>
        <name>ISV_Castaway</name>
        <choiceText>Castaway</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ISV-Castaway</stringValue>
        </value>
    </choices>
    <choices>
        <name>ISV_EmployeeBundle</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;Employee Bundle&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ISV-EmployeeBundle	</stringValue>
        </value>
    </choices>
    <choices>
        <name>ISV_InvoicePayments</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;Invoice Payments&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ISV-InvoicePayments</stringValue>
        </value>
    </choices>
    <choices>
        <name>ISV_Qmulus</name>
        <choiceText>Qmulus</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ISV-Qmulus</stringValue>
        </value>
    </choices>
    <choices>
        <name>ISV_Satago</name>
        <choiceText>Satago</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ISV-Satago</stringValue>
        </value>
    </choices>
    <choices>
        <name>ISV_SEB</name>
        <choiceText>SEB</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ISV-SEB</stringValue>
        </value>
    </choices>
    <choices>
        <name>ISV_Sicon</name>
        <choiceText>Sicon</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ISV-Sicon</stringValue>
        </value>
    </choices>
    <choices>
        <name>ISV_SmarterDecisionsBundle</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;Smarter Decisions Bundle&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ISV-SmarterDecisionsBundle</stringValue>
        </value>
    </choices>
    <choices>
        <name>ISV_SupplierPayments</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;Supplier Payments&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ISV-SupplierPayments</stringValue>
        </value>
    </choices>
    <choices>
        <description>en_CA</description>
        <name>Locale_en_CA</name>
        <choiceText>en_CA</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <description>Locale en_GB</description>
        <name>Locale_en_GB</name>
        <choiceText>en_GB</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>en_GB</stringValue>
        </value>
    </choices>
    <choices>
        <description>Locale en_IE</description>
        <name>Locale_en_IE</name>
        <choiceText>en_IE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>en_IE</stringValue>
        </value>
    </choices>
    <choices>
        <description>fr_CA</description>
        <name>Locale_fr_CA</name>
        <choiceText>fr_CA</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Marketing</name>
        <choiceText>Marketing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marketing</stringValue>
        </value>
    </choices>
    <choices>
        <description>Choice for Opportunity Source picklist</description>
        <name>Marketplace</name>
        <choiceText>Marketplace</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marketplace</stringValue>
        </value>
    </choices>
    <choices>
        <description>Migration</description>
        <name>Migration</name>
        <choiceText>Migration</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Migration</stringValue>
        </value>
    </choices>
    <choices>
        <description>NewBusiness</description>
        <name>NewBusiness</name>
        <choiceText>New Business</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Business</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Onboarding</name>
        <choiceText>Onboarding</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Onboarding</stringValue>
        </value>
    </choices>
    <choices>
        <name>PartnersReferral</name>
        <choiceText>Partners Referral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Partners Referral</stringValue>
        </value>
    </choices>
    <choices>
        <description>Sales Product Allocation Group</description>
        <name>Payroll</name>
        <choiceText>Payroll</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Payroll</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProfessionalServicesReferral</name>
        <choiceText>Professional Services Referral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Professional Services Referral</stringValue>
        </value>
    </choices>
    <choices>
        <description>Reactivation</description>
        <name>Reactivation</name>
        <choiceText>Reactivation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reactivation</stringValue>
        </value>
    </choices>
    <choices>
        <description>Renewal Business</description>
        <name>RenewalBusiness</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Renewal Business&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Renewal Business</stringValue>
        </value>
    </choices>
    <choices>
        <name>RenewalLost</name>
        <choiceText>Renewal Lost</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed Lost</stringValue>
        </value>
    </choices>
    <choices>
        <name>SalesGenerated</name>
        <choiceText>Sales Generated</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SalesGenerated</stringValue>
        </value>
    </choices>
    <choices>
        <name>SalesInternalReferral</name>
        <choiceText>Sales Internal Referral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales Internal Referral</stringValue>
        </value>
    </choices>
    <choices>
        <description>Atlanta Sales Office</description>
        <name>SalesOfficeAtlanta</name>
        <choiceText>Atlanta CBC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Atlanta CBC</stringValue>
        </value>
    </choices>
    <choices>
        <description>Canada CBC</description>
        <name>SalesofficeCanada</name>
        <choiceText>Canada CBC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canada CBC</stringValue>
        </value>
    </choices>
    <choices>
        <description>Dublin Sales Office</description>
        <name>SalesOfficeDublin</name>
        <choiceText>Dublin CBC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dublin CBC</stringValue>
        </value>
    </choices>
    <choices>
        <description>Sales Product Allocation Group</description>
        <name>Stationery</name>
        <choiceText>Stationery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stationery</stringValue>
        </value>
    </choices>
    <choices>
        <description>Sales Product Allocation Group</description>
        <name>Training</name>
        <choiceText>Training</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Training</stringValue>
        </value>
    </choices>
    <choices>
        <description>Upsell</description>
        <name>Upsell</name>
        <choiceText>Upsell</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Upsell</stringValue>
        </value>
    </choices>
    <constants>
        <description>Opportunity Created via Referral and with HotTransfer</description>
        <name>AccOppReferralHotTransfer</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AccOppReferralHotTransfer</stringValue>
        </value>
    </constants>
    <constants>
        <description>Opportunity created using the Referral Option but not Hot Transfer</description>
        <name>AccOppReferralNotHotTransfer</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AccOppReferralNotHotTransfer</stringValue>
        </value>
    </constants>
    <constants>
        <description>Regular Opportunity Created By this Flow</description>
        <name>AccountOpportunityNonReferral</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AccountOpportunityNonReferral</stringValue>
        </value>
    </constants>
    <constants>
        <name>FunnelStage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MQL</stringValue>
        </value>
    </constants>
    <constants>
        <name>OppForMe</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Me</stringValue>
        </value>
    </constants>
    <constants>
        <name>UKLeadQueue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>UK Sage 200C</stringValue>
        </value>
    </constants>
    <constants>
        <name>VolumeRecordTypeID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0121o000000wulLAAQ</stringValue>
        </value>
    </constants>
    <decisions>
        <description>If user selected the Accountant Division then assign the AccountDivision Product Segment Value</description>
        <name>AccountantDivisionSelection</name>
        <label>AccountantDivisionSelection</label>
        <locationX>1829</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>AssignSmallMicroProductSegment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AccountantDivisionSelectionOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Product_Segment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceProductSegmentAccountantDivision</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAccountantProductSegment</targetReference>
            </connector>
            <label>AccountantDivisionSelectionOutcome</label>
        </rules>
        <rules>
            <name>ISVDivisionSelectionOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Product_Segment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChioceProductSegmentISV</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ISVDivisionSelectionAssignmnet</targetReference>
            </connector>
            <label>ISVDivisionSelectionOutcome</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether Locale is specified on parent Account</description>
        <name>Check_Account_Locale</name>
        <label>Check Account Locale</label>
        <locationX>360</locationX>
        <locationY>1557</locationY>
        <defaultConnector>
            <targetReference>Collect_SBC_Opportunity_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Locale_Found</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sell_To_Contact_Details.Account.Locale__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sell_To_Contact_Details.Account.Locale__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Locale_en_GB</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sell_To_Contact_Details.Account.Locale__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Locale_en_IE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Locale_Id</targetReference>
            </connector>
            <label>Locale Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Closed Won/Lost Reasons</description>
        <name>Closed_Won_Lost_Reasons</name>
        <label>Closed Won/Lost Reasons</label>
        <locationX>1135</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Assign_Further_Discussions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_Won_Lost_Reasons_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Sale_Type_Renewal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RenewalLost</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sale_Type_Renewal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InstantSale</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Renewal_ClosedWonLost_Reasons</targetReference>
            </connector>
            <label>Closed Won/Lost Reasons Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContactNotSelectedDecision</name>
        <label>ContactNotSelectedDecision</label>
        <locationX>901</locationX>
        <locationY>383</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_Fields_to_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContactNotSelectedOutCome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Contact_Selector</targetReference>
            </connector>
            <label>ContactNotSelectedOutCome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Additional_Demo_Information</name>
        <label>Decision Additional Demo Information</label>
        <locationX>762</locationX>
        <locationY>1012</locationY>
        <defaultConnector>
            <targetReference>Assign_Default_CloseDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutCome_Additional_Demo_Information</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StoreOutputAdditonalDemoInformation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_Demo_Details</targetReference>
            </connector>
            <label>OutCome Additional Demo Information</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Product_Segment</name>
        <label>Decision Product Segment</label>
        <locationX>1454</locationX>
        <locationY>169</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MediumOutcome</name>
            <conditionLogic>1 OR (2 AND 3) OR (2 AND  4)</conditionLogic>
            <conditions>
                <leftValueReference>Select_Product_Segment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceProductSegmentMedium</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Product_Segment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChioceProductSegmentISV</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISV_Product_Allocation_Group</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ISV_Sicon</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISV_Product_Allocation_Group</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ISV_Qmulus</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medium_Lead_Screen</targetReference>
            </connector>
            <label>Medium Outcome</label>
        </rules>
        <rules>
            <name>Accountant_Division_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceProductSegmentAccountantDivision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accountant Division</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Small_Micro_Products</targetReference>
            </connector>
            <label>Accountant Division Outcome</label>
        </rules>
        <rules>
            <name>Small_Micro_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceProductSegmentSmallMicro</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Small/Micro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Small_Micro_Products</targetReference>
            </connector>
            <label>Small/Micro Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Who_Is_Opp_For</name>
        <label>Decision Who Is Opp For</label>
        <locationX>1251</locationX>
        <locationY>476</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunity_for_Someone_Else</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome - Opportunity if for Someone Else</defaultConnectorLabel>
        <rules>
            <name>Opp_is_for_Me</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Who_is_the_Opportunity_For</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceOppForMe</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Opportunity_Information</targetReference>
            </connector>
            <label>Opp is for Me</label>
        </rules>
        <rules>
            <name>SBC_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Who_is_the_Opportunity_For</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceOppForSBC</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assisted_Sales_Agent_Group_Id</targetReference>
            </connector>
            <label>SBC Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionInstantSale</name>
        <label>DecisionInstantSale</label>
        <locationX>624</locationX>
        <locationY>759</locationY>
        <defaultConnector>
            <targetReference>Assign_Sale_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InstantSale_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SaleType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InstantSale</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewBusiness_ClosedWon_Reasons</targetReference>
            </connector>
            <label>InstantSale Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_We_Have_Locale</name>
        <label>Do We Have Locale</label>
        <locationX>881</locationX>
        <locationY>1768</locationY>
        <defaultConnector>
            <targetReference>Get_Locale_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Still_No_Locale</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LocaleId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocaleId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assisted_Sales_Locale_Check</targetReference>
            </connector>
            <label>Still No Locale</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Locale_Differ_From_Contact_Records</name>
        <label>Does Locale Differ From Contact Records</label>
        <locationX>1200</locationX>
        <locationY>1743</locationY>
        <defaultConnector>
            <targetReference>Get_Small_Opportunity_Record_Type_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Locale_Differs</name>
            <conditionLogic>5 AND (1 OR 2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sell_To_Contact_Details.Locale__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bill_To_Contact_Details.Locale__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocaleId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Sell_To_Contact_Details.Locale__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocaleId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Bill_To_Contact_Details.Locale__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocaleId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contacts</targetReference>
            </connector>
            <label>Contact Locale Differs</label>
        </rules>
    </decisions>
    <decisions>
        <name>HotTransferDecision</name>
        <label>HotTransferDecision</label>
        <locationX>1614</locationX>
        <locationY>938</locationY>
        <defaultConnector>
            <targetReference>AssignCreatedByFlow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaotTransfer_OutCome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HotTransferToggleOutputValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCreatedByFlowNotHotTransfer</targetReference>
            </connector>
            <label>HaotTransfer OutCome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Bill_To_Contact_Ready_For_Assisted_Sales</name>
        <label>Is Bill To Contact Ready For Assisted Sales</label>
        <locationX>450</locationX>
        <locationY>2028</locationY>
        <defaultConnector>
            <targetReference>Is_Screen_Locale_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bill_To_Contact_Not_Ready_For_AS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bill_To_Contact_Details.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bill_To_Contact_Details.MailingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bill_To_Contact_Details.MailingStreet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bill_To_Contact_Details.MailingPostalCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bill_To_Contact_Details.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bill_To_Contact_Details.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bill_To_Contact_Details.MailingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bill_To_Contact_Details.MailingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bill_To_Contact_Details.MailingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bill_To_Contact_Details.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bill_To_Contact_Details.Account.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bill_To_Contact_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assisted_Sales_Bill_To_Contact_Requirements_Check</targetReference>
            </connector>
            <label>Bill To Contact Not Ready For AS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Bill_To_Contact_Same_As_Sell_To_Contact</name>
        <label>Is Bill To Contact Same As Sell To Contact</label>
        <locationX>728</locationX>
        <locationY>1659</locationY>
        <defaultConnector>
            <targetReference>Get_Bill_To_Contact_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bill_To_Same_As_Sell_To_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bill_To_Contact_same_as_Sell_To_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Bill_To_Contact_To_Sell_To_Contact</targetReference>
            </connector>
            <label>Bill To Same As Sell To Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Bill_To_Contact_Set</name>
        <label>Is Bill To Contact Set</label>
        <locationX>1507</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>Create_Bill_To_Opportunity_Contact_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bill_To_Not_Set</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>BillToContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BillToContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Bill_To_Contact_To_Contact</targetReference>
            </connector>
            <label>Bill To Not Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_Ready_For_Assisted_Sales</name>
        <label>Is Contact Ready For Assisted Sales</label>
        <locationX>168</locationX>
        <locationY>1257</locationY>
        <defaultConnector>
            <targetReference>Check_Account_Locale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Not_Ready_For_AS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sell_To_Contact_Details.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sell_To_Contact_Details.MailingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sell_To_Contact_Details.MailingStreet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sell_To_Contact_Details.MailingPostalCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sell_To_Contact_Details.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sell_To_Contact_Details.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sell_To_Contact_Details.MailingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sell_To_Contact_Details.MailingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sell_To_Contact_Details.MailingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sell_To_Contact_Details.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sell_To_Contact_Details.Account.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sell_To_Contact_Details.Account.BillingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assisted_Sales_Contact_Requirements_Check</targetReference>
            </connector>
            <label>Contact Not Ready For AS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Locale_Or_Sales_Office_Changed</name>
        <label>Does Locale Or Sales Office Differ From Account</label>
        <locationX>1203</locationX>
        <locationY>1862</locationY>
        <defaultConnector>
            <targetReference>Does_Locale_Differ_From_Contact_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Field_Changed</name>
            <conditionLogic>1 OR (6 AND (2 OR 3 OR 4 OR 5))</conditionLogic>
            <conditions>
                <leftValueReference>Sales_Office</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>NewOpportunity.Account.Sales_Office__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sell_To_Contact_Details.Account.Locale__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bill_To_Contact_Details.Account.Locale__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocaleId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Sell_To_Contact_Details.Account.Locale__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocaleId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Bill_To_Contact_Details.Account.Locale__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocaleId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Account Field Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Screen_Locale_Selected</name>
        <label>Is Screen Locale Selected</label>
        <locationX>723</locationX>
        <locationY>1862</locationY>
        <defaultConnector>
            <targetReference>Do_We_Have_Locale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Screen_Locale_Id_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocaleKeyId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocaleKeyId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Locale_Id_From_Selection</targetReference>
            </connector>
            <label>Screen Locale Id Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_An_Assisted_Sales_Opportunity</name>
        <label>Is This An Assisted Sales Opportunity</label>
        <locationX>1752</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunity_Contact_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assisted_Sales_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Who_is_the_Opportunity_For</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceOppForSBC</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SBC_Instant_Sale</targetReference>
            </connector>
            <label>Assisted Sales Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_Ready_For_Assisted_Sales</name>
        <label>Is User Ready For Assisted Sales</label>
        <locationX>173</locationX>
        <locationY>802</locationY>
        <defaultConnector>
            <targetReference>Get_Sell_To_Contact_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Ready_For_AS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.FederationIdentifier</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssistedSalesUserGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.FederationIdentifier</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssistedSalesUserGroup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assisted_Sales_User_Requirements_Check</targetReference>
            </connector>
            <label>Not Ready For AS</label>
        </rules>
    </decisions>
    <decisions>
        <name>isCallBackDateEntered</name>
        <label>isCallBackDateEntered</label>
        <locationX>346</locationX>
        <locationY>1165</locationY>
        <defaultConnector>
            <targetReference>Assign_Close_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isCallBackDateEnteredOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Back_Date</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Default_CloseDate</targetReference>
            </connector>
            <label>isCallBackDateEnteredOutcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>OppLeadSourceTypeValidation</name>
        <label>OppLeadSourceTypeValidation</label>
        <locationX>1716</locationX>
        <locationY>385</locationY>
        <defaultConnector>
            <targetReference>AccountantDivisionSelection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OppLeadSourceTypeValidationOutcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Type_Small_Medium</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity_Source_Small_Medium</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OppPicklistValidation</targetReference>
            </connector>
            <label>OppLeadSourceTypeValidationOutcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>OppSourceTypeValidationNonReferral</name>
        <label>OppSourceTypeValidationNonReferral</label>
        <locationX>1830</locationX>
        <locationY>332</locationY>
        <defaultConnector>
            <targetReference>Add_Products_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OppSourceTypeValidationNonReferralOutcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriceBookId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OppPicklistValidationNonReferral</targetReference>
            </connector>
            <label>OppSourceTypeValidationNonReferralOutcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>OppSourceTypeValidationSBC</name>
        <label>OppSourceTypeValidationSBC</label>
        <locationX>591</locationX>
        <locationY>1420</locationY>
        <defaultConnector>
            <targetReference>Is_Bill_To_Contact_Same_As_Sell_To_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OppSourceTypeValidationSBCOutcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Source_SBC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity_Type_SBC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocaleKeyId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Select an Option</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriceBookId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sales_Office</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Select an Option</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OppPicklistValidationSBC</targetReference>
            </connector>
            <label>OppSourceTypeValidationSBCOutcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Selected</name>
        <label>Product Not  Selected</label>
        <locationX>536</locationX>
        <locationY>696</locationY>
        <defaultConnector>
            <targetReference>Renewal_Type_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Not_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productsaved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Error_Screen</targetReference>
            </connector>
            <label>Product Not Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Renewal_Type_Decision</name>
        <label>Renewal Type Decision</label>
        <locationX>1200</locationX>
        <locationY>616</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Sale_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewal_Type_Decision_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RenewalBusiness</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Renewal_Business_Type</targetReference>
            </connector>
            <label>Renewal Type Decision Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>WinLossReasonCheck</name>
        <label>WinLossReasonCheck</label>
        <locationX>976</locationX>
        <locationY>841</locationY>
        <defaultConnector>
            <targetReference>Decision_Additional_Demo_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WinLossReasonCheckOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewOpportunity.Why_We_Lost__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>NewOpportunity.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>opportunityvalidationScreen</targetReference>
            </connector>
            <label>WinLossReasonCheckOutcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>WinLossReasonRenwalOppCheck</name>
        <label>WinLossReasonRenwalOppCheck</label>
        <locationX>1173</locationX>
        <locationY>961</locationY>
        <defaultConnector>
            <targetReference>Assign_SaleType_Renewal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WinLossReasonRenwalOppCheckOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WinLossReasons</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>OppRenewalValidationScreen</targetReference>
            </connector>
            <label>WinLossReasonRenwalOppCheckOutcome</label>
        </rules>
    </decisions>
    <description>Create Opportunity/Lead from Account</description>
    <dynamicChoiceSets>
        <description>BusinessCategory to support Product Replacement</description>
        <name>BusinessCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product_Solution__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ClosedLostReasonsPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Why_We_Lost__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadProductPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Lead Source Picklist values</description>
        <name>LeadSourcePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lead_Source__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Marketing Channel Picklist EAD-2016</description>
        <name>Marketing_Channel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Marketing_Channel__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpportunityStageName</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Opportunity Type Picklist</description>
        <name>OpportunityTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductAllocationGroupPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product_Allocation_Group__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>SalesOffice Picklist Choices</description>
        <name>SalesOfficePicklistChoices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account.00N2400000Djgxt</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>ExistingAccount.Sales_Office__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>None</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Valid Locales</description>
        <name>ValidLocales</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>ExistingAccount.BillingCountry</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>ExistingAccount.Locale__c</elementReference>
            </value>
        </filters>
        <object>Locale__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>closedate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+30</expression>
    </formulas>
    <formulas>
        <description>Get Account Locale</description>
        <name>GetAccountLocaleFormula</name>
        <dataType>String</dataType>
        <expression>If(IsBlank({!ExistingAccount.Locale__r.Name}), &apos;Select an Option&apos;, {!ExistingAccount.Locale__r.Name})</expression>
    </formulas>
    <formulas>
        <description>GetAccountSalesOffice</description>
        <name>GetAccountSalesOfficeFormula</name>
        <dataType>String</dataType>
        <expression>If(IsBlank(Text({!ExistingAccount.Sales_Office__c})), &apos;Select an Option&apos;, Text({!ExistingAccount.Sales_Office__c}))</expression>
    </formulas>
    <formulas>
        <name>Oppclosedate1</name>
        <dataType>String</dataType>
        <expression>Text({!$Flow.CurrentDate})</expression>
    </formulas>
    <formulas>
        <description>Combination of Accountname + CampaignName</description>
        <name>OpportunityName</name>
        <dataType>String</dataType>
        <expression>{!ExistingAccount.Name}+{!Oppclosedate1}</expression>
    </formulas>
    <interviewLabel>Account Opportunity Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Opportunity Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Bill_To_Opportunity_Contact_Role</name>
        <label>Create Bill To Opportunity Contact Role</label>
        <locationX>1641</locationX>
        <locationY>1545</locationY>
        <connector>
            <targetReference>Is_This_An_Assisted_Sales_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>BillToContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Bill To</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>1916</locationX>
        <locationY>1154</locationY>
        <connector>
            <targetReference>Lead_Success_Screen</targetReference>
        </connector>
        <inputReference>NewLead</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>1215</locationX>
        <locationY>1182</locationY>
        <connector>
            <targetReference>Create_Line_Items</targetReference>
        </connector>
        <inputReference>NewOpportunity</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Contact_Role</name>
        <label>Create Opportunity Contact Role</label>
        <locationX>1760</locationX>
        <locationY>1754</locationY>
        <connector>
            <targetReference>Opp_Success_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Business User</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Sell_To_Opportunity_Contact_Role</name>
        <label>Create Sell To Opportunity Contact Role</label>
        <locationX>1400</locationX>
        <locationY>1545</locationY>
        <connector>
            <targetReference>Is_Bill_To_Contact_Set</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Sell To</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>603</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Selector</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>ExistingAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Number_of_Employees__c</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>Sales_Office__c</queriedFields>
        <queriedFields>Locale__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Assisted_Sales_Agent_Group_Id</name>
        <label>Get Assisted Sales Agent Group Id</label>
        <locationX>705</locationX>
        <locationY>556</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assisted_Sales_Manager_Group_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assisted Sales Agent</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>AssistedSalesAgentGroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Assisted_Sales_Group_For_User</name>
        <label>Get Assisted Sales Group For User</label>
        <locationX>180</locationX>
        <locationY>556</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_User_Ready_For_Assisted_Sales</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssistedSalesAgentGroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssistedSalesManagerGroupId</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputAssignments>
            <assignToReference>AssistedSalesUserGroup</assignToReference>
            <field>GroupId</field>
        </outputAssignments>
        <sortField>UserOrGroupId</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Assisted_Sales_Manager_Group_Id</name>
        <label>Get Assisted Sales Manager Group Id</label>
        <locationX>409</locationX>
        <locationY>556</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assisted_Sales_Group_For_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assisted Sales Manager</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>AssistedSalesManagerGroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Bill_To_Contact_Details</name>
        <label>Get Bill To Contact Details</label>
        <locationX>457</locationX>
        <locationY>1852</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Bill_To_Contact_Ready_For_Assisted_Sales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BillToContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Details</name>
        <label>Get Contact Details</label>
        <locationX>1933</locationX>
        <locationY>687</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUKLeadsQueueID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ContactDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>HomePhone</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>MailingAddress</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Locale_Record</name>
        <label>Get Locale Record</label>
        <locationX>995</locationX>
        <locationY>1865</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Locale_Or_Sales_Office_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LocaleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Locale__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Qassign_UserID</name>
        <label>Get Qassign UserID</label>
        <locationX>1781</locationX>
        <locationY>1136</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opportunity_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>quser</stringValue>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Q-Assign</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Sell_To_Contact_Details</name>
        <label>Get Sell To Contact Details</label>
        <locationX>175</locationX>
        <locationY>1067</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Contact_Ready_For_Assisted_Sales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Small_Opportunity_Record_Type_Id</name>
        <label>Get Small Opportunity Record Type Id</label>
        <locationX>1209</locationX>
        <locationY>1589</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opportunity_Fields_For_SBC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Small Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>SmallOpportunityRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetUKLeadsQueueID</name>
        <label>GetUKLeadsQueueID</label>
        <locationX>1908</locationX>
        <locationY>812</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Lead_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UKLeadQueue</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>QueueGroup</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Type</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>1383</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Does_Locale_Differ_From_Contact_Records</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bill_To_Contact_Details.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sell_To_Contact_Details.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Locale_Billing_CC__c</field>
            <value>
                <elementReference>Get_Locale_Record.Country_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Locale__c</field>
            <value>
                <elementReference>Get_Locale_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Office__c</field>
            <value>
                <elementReference>Get_Locale_Record.SalesOffice__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>1463</locationX>
        <locationY>1732</locationY>
        <connector>
            <targetReference>Get_Small_Opportunity_Record_Type_Id</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BillToContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Locale__c</field>
            <value>
                <elementReference>Get_Locale_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <description>Allow entry of products and details that will on creation of an Opportunity map to Opportunity Line Items</description>
        <name>Add_Products_Screen</name>
        <label>Add Products Screen</label>
        <locationX>351</locationX>
        <locationY>672</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Product_Selected</targetReference>
        </connector>
        <fields>
            <name>OpportunityProductCards</name>
            <extensionName>c:OpportunityProductCards</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>productJSONString</name>
                <value>
                    <elementReference>ProductJSONString</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedLookUpRecordsString</name>
                <value>
                    <elementReference>selectedLookUpRecordsString</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currencyISOCode</name>
                <value>
                    <elementReference>ExistingAccount.CurrencyIsoCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pricebookId</name>
                <value>
                    <elementReference>PriceBookId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ProductJSONString</assignToReference>
                <name>productJSONString</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedLookUpRecordsString</assignToReference>
                <name>selectedLookUpRecordsString</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>productsaved</assignToReference>
                <name>productsaved</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Additional_Demo_Details</name>
        <label>Additional Demo Details</label>
        <locationX>351</locationX>
        <locationY>886</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_DemoDate_Fields</targetReference>
        </connector>
        <fields>
            <name>Call_Back_Date</name>
            <dataType>Date</dataType>
            <fieldText>Call Back Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Call Back Date must be today or a future date.&lt;/span&gt;&lt;/p&gt;&lt;h1&gt;&lt;br&gt;&lt;/h1&gt;&lt;h1&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;&lt;/span&gt;&lt;/h1&gt;</errorMessage>
                <formulaExpression>{!Call_Back_Date}  &gt;=  {!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Demo_Booked_Datetime</name>
            <dataType>DateTime</dataType>
            <fieldText>Protected / Demo Booked Date &amp; Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Demo Booked Date / Time must be a today date time or a future date time.&lt;/span&gt;&lt;/p&gt;&lt;h1&gt;&lt;br&gt;&lt;/h1&gt;</errorMessage>
                <formulaExpression>{!Demo_Booked_Datetime}  &gt;=  {!$Flow.CurrentDateTime}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>OnSite_Validation_Request_Date</name>
            <dataType>Date</dataType>
            <fieldText>OnSite Validation Request Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;On Site Validation Request Date must be today or a future&amp;nbsp;date.&lt;/span&gt;&lt;/p&gt;&lt;h1&gt;&lt;br&gt;&lt;/h1&gt;</errorMessage>
                <formulaExpression>{!OnSite_Validation_Request_Date} &gt;=
{!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Assisted_Sales_Bill_To_Contact_Requirements_Check</name>
        <label>Assisted Sales Bill To Contact Requirements Check</label>
        <locationX>735</locationX>
        <locationY>2018</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Screen_Locale_Selected</targetReference>
        </connector>
        <fields>
            <name>Assisted_Sales_Bill_To_Contact_Check</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(221, 146, 16);&quot;&gt;WARNING: Before running the Assisted Sales UI you will need to the following fields to be present on your Bill To Contact: Email, Account, Street, Postcode and Country. &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 156, 21);&quot;&gt;The referenced Account should have Billing Country set too. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Assisted_Sales_Contact_Requirements_Check</name>
        <label>Assisted Sales Contact Requirements Check</label>
        <locationX>50</locationX>
        <locationY>1380</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Account_Locale</targetReference>
        </connector>
        <fields>
            <name>Assisted_Sales_Contact_Check</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 156, 21);&quot;&gt;WARNING: Before running the Assisted Sales UI you will need to the following fields to be present on your Contact: Email, Account, Street, Postcode and Country. The referenced Account should have Billing Country set too. The referenced Account should have Billing Country set too. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Assisted_Sales_Locale_Check</name>
        <label>Assisted Sales Locale Check</label>
        <locationX>1070</locationX>
        <locationY>1680</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Locale_Or_Sales_Office_Changed</targetReference>
        </connector>
        <fields>
            <name>Assisted_Sales_Locale_Check_Warning</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 156, 21); background-color: rgb(255, 255, 255);&quot;&gt;WARNING: Before running the Assisted Sales UI you will need a Locale to be set (on Account).&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Assisted_Sales_User_Requirements_Check</name>
        <label>Assisted Sales User Requirements Check</label>
        <locationX>60</locationX>
        <locationY>930</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Sell_To_Contact_Details</targetReference>
        </connector>
        <fields>
            <name>Assisted_Sales_User_Check</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(250, 127, 4); background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;color: rgb(234, 156, 21); background-color: rgb(255, 255, 255);&quot;&gt;WARNING: Before running the Assisted Sales UI you will need your Email and Federation Id populated on your User record, as well as membership of one of the Assisted Sales Groups.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Collect_Opportunity_Information</name>
        <label>Collect Opportunity Information</label>
        <locationX>957</locationX>
        <locationY>494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>OppSourceTypeValidationNonReferral</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Source</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>AccountantsReferral</choiceReferences>
            <choiceReferences>ColleaguesReferral</choiceReferences>
            <choiceReferences>CustomerServicesReferral</choiceReferences>
            <choiceReferences>CustomersReferral</choiceReferences>
            <choiceReferences>InProductRequest</choiceReferences>
            <choiceReferences>Marketing</choiceReferences>
            <choiceReferences>Marketplace</choiceReferences>
            <choiceReferences>PartnersReferral</choiceReferences>
            <choiceReferences>ProfessionalServicesReferral</choiceReferences>
            <choiceReferences>SalesGenerated</choiceReferences>
            <choiceReferences>SalesInternalReferral</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opportunity Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Marketing_Channel1</name>
            <choiceReferences>Marketing_Channel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Marketing Channel</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Opportunity_Source</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Marketing</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Opportunity_Type</name>
            <choiceReferences>NewBusiness</choiceReferences>
            <choiceReferences>Crosssell</choiceReferences>
            <choiceReferences>Upsell</choiceReferences>
            <choiceReferences>Migration</choiceReferences>
            <choiceReferences>Reactivation</choiceReferences>
            <choiceReferences>RenewalBusiness</choiceReferences>
            <choiceReferences>Onboarding</choiceReferences>
            <choiceReferences>Graduation</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opportunity Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contract_Term_Months</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>12.0</numberValue>
            </defaultValue>
            <fieldText>Contract Term (Months)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>SelectPricebook</name>
            <extensionName>c:SelectPriceBook</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>PriceBookId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currencyIsoCode</name>
                <value>
                    <elementReference>ExistingAccount.CurrencyIsoCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>excludedPriceBookNames</name>
                <value>
                    <stringValue>AME Pricebook</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>PriceBookId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Allow entry of SBC-specific fields including  &quot;Sell To&quot; and &quot;Bill To&quot; contacts.</description>
        <name>Collect_SBC_Opportunity_Information</name>
        <label>Collect SBC Opportunity Information</label>
        <locationX>479</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OppSourceTypeValidationSBC</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Source_SBC</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>AccountantsReferral</choiceReferences>
            <choiceReferences>ColleaguesReferral</choiceReferences>
            <choiceReferences>CustomerServicesReferral</choiceReferences>
            <choiceReferences>CustomersReferral</choiceReferences>
            <choiceReferences>InProductRequest</choiceReferences>
            <choiceReferences>Marketing</choiceReferences>
            <choiceReferences>Marketplace</choiceReferences>
            <choiceReferences>PartnersReferral</choiceReferences>
            <choiceReferences>ProfessionalServicesReferral</choiceReferences>
            <choiceReferences>SalesGenerated</choiceReferences>
            <choiceReferences>SalesInternalReferral</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opportunity Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Opportunity_Type_SBC</name>
            <choiceReferences>NewBusiness</choiceReferences>
            <choiceReferences>Crosssell</choiceReferences>
            <choiceReferences>Upsell</choiceReferences>
            <choiceReferences>Migration</choiceReferences>
            <choiceReferences>Reactivation</choiceReferences>
            <choiceReferences>RenewalBusiness</choiceReferences>
            <choiceReferences>Onboarding</choiceReferences>
            <choiceReferences>Graduation</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>NewBusiness</defaultSelectedChoiceReference>
            <fieldText>Opportunity Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contract_Term_Months_SBC</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>12.0</numberValue>
            </defaultValue>
            <fieldText>Contract Term (Months)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Sales_Office</name>
            <choiceReferences>AccountSalesOfficeChoice</choiceReferences>
            <choiceReferences>SalesOfficePicklistChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>AccountSalesOfficeChoice</defaultSelectedChoiceReference>
            <fieldText>Sales Office</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LocaleKeyId</name>
            <choiceReferences>AccountLocale</choiceReferences>
            <choiceReferences>ValidLocales</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>AccountLocale</defaultSelectedChoiceReference>
            <fieldText>Locale</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SelectPricebookSBC</name>
            <extensionName>c:SelectPriceBook</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>PriceBookId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currencyIsoCode</name>
                <value>
                    <elementReference>ExistingAccount.CurrencyIsoCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>excludedPriceBookNames</name>
                <value>
                    <stringValue>AME Pricebook</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>PriceBookId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Bill_To_Contact_same_as_Sell_To_Contact</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Bill To Contact same as Sell To Contact</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BillToContactSelector</name>
            <extensionName>c:AccountContactSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <elementReference>ContactId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ExistingAccount.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>BillToContactId</assignToReference>
                <name>contactId</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Bill_To_Contact_same_as_Sell_To_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Selector</name>
        <label>Contact Selector</label>
        <locationX>997</locationX>
        <locationY>234</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ContactNotSelectedDecision</targetReference>
        </connector>
        <fields>
            <name>selectContact</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(189, 20, 20); font-size: 18px;&quot;&gt;*Please select a contact.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactSelector</name>
            <extensionName>c:AccountContactSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ExistingAccount.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContactId</assignToReference>
                <name>contactId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Opportunity_for_Someone_Else</name>
        <label>Create Opportunity for Someone Else</label>
        <locationX>1401</locationX>
        <locationY>292</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Product_Segment</targetReference>
        </connector>
        <fields>
            <name>Select_Product_Segment</name>
            <choiceReferences>ChoiceProductSegmentSmallMicro</choiceReferences>
            <choiceReferences>ChoiceProductSegmentMedium</choiceReferences>
            <choiceReferences>ChoiceProductSegmentAccountantDivision</choiceReferences>
            <choiceReferences>ChioceProductSegmentISV</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Product Segment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Accountant_Product_Allocation_Group</name>
            <choiceReferences>GAccount</choiceReferences>
            <choiceReferences>GPayroll</choiceReferences>
            <choiceReferences>GHR</choiceReferences>
            <choiceReferences>GStationery</choiceReferences>
            <choiceReferences>GTraining</choiceReferences>
            <choiceReferences>GBrandedStationery</choiceReferences>
            <choiceReferences>ADNetwork</choiceReferences>
            <choiceReferences>ADStationery</choiceReferences>
            <choiceReferences>ADMakingTaxDigital</choiceReferences>
            <choiceReferences>ADNetworkClientManager</choiceReferences>
            <choiceReferences>ADPayrollBureau</choiceReferences>
            <choiceReferences>ADPracticeSolutions</choiceReferences>
            <choiceReferences>ADFinalAccountsTaxationOnline</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Accountant Product Allocation Group</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Product_Segment</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ChoiceProductSegmentAccountantDivision</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Product_Allocation_Group</name>
            <choiceReferences>Account</choiceReferences>
            <choiceReferences>HR</choiceReferences>
            <choiceReferences>Payroll</choiceReferences>
            <choiceReferences>Stationery</choiceReferences>
            <choiceReferences>BrandedStationery</choiceReferences>
            <choiceReferences>Training</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product Allocation Group</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Product_Segment</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ChoiceProductSegmentSmallMicro</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ISV_Product_Allocation_Group</name>
            <choiceReferences>ISV_AutoEntry</choiceReferences>
            <choiceReferences>ISV_AutomationBundle</choiceReferences>
            <choiceReferences>ISV_Cascade</choiceReferences>
            <choiceReferences>ISV_CashflowBundle</choiceReferences>
            <choiceReferences>ISV_Castaway</choiceReferences>
            <choiceReferences>ISV_EmployeeBundle</choiceReferences>
            <choiceReferences>ISV_InvoicePayments</choiceReferences>
            <choiceReferences>ISV_Qmulus</choiceReferences>
            <choiceReferences>ISV_Satago</choiceReferences>
            <choiceReferences>ISV_SEB</choiceReferences>
            <choiceReferences>ISV_Sicon</choiceReferences>
            <choiceReferences>ISV_SmarterDecisionsBundle</choiceReferences>
            <choiceReferences>ISV_SupplierPayments</choiceReferences>
            <choiceReferences>ISV_CakeHR</choiceReferences>
            <dataType>String</dataType>
            <fieldText>ISV Product Allocation Group</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Product_Segment</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ChioceProductSegmentISV</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>For_Me_Decision_Screen</name>
        <label>For Me Decision Screen</label>
        <locationX>1193</locationX>
        <locationY>237</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Who_Is_Opp_For</targetReference>
        </connector>
        <fields>
            <name>Who_is_the_Opportunity_For</name>
            <choiceReferences>ChoiceOppForMe</choiceReferences>
            <choiceReferences>ChoiceOppForOther</choiceReferences>
            <choiceReferences>ChoiceOppForSBC</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ChoiceOppForOther</defaultSelectedChoiceReference>
            <fieldText>Who is the Opportunity For?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lead_Success_Screen</name>
        <label>Lead Success Screen</label>
        <locationX>1916</locationX>
        <locationY>1302</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Lead_Success_DisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(23, 202, 50);&quot;&gt;Lead is successfully created.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(23, 202, 50); background-color: rgb(255, 255, 255);&quot;&gt;Name       :{!NewLead.FirstName} {!NewLead.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(23, 202, 50); background-color: rgb(255, 255, 255);&quot;&gt;Company : {!NewLead.Company}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Medium_Lead_Screen</name>
        <label>Medium Lead Screen</label>
        <locationX>2051</locationX>
        <locationY>297</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Contact_Details</targetReference>
        </connector>
        <fields>
            <name>Business_Category</name>
            <choiceReferences>BusinessCategory</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Business Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Lead_Source</name>
            <choiceReferences>AccountantsReferral</choiceReferences>
            <choiceReferences>ColleaguesReferral</choiceReferences>
            <choiceReferences>CustomerServicesReferral</choiceReferences>
            <choiceReferences>CustomersReferral</choiceReferences>
            <choiceReferences>InProductRequest</choiceReferences>
            <choiceReferences>Marketing</choiceReferences>
            <choiceReferences>PartnersReferral</choiceReferences>
            <choiceReferences>ProfessionalServicesReferral</choiceReferences>
            <choiceReferences>SalesGenerated</choiceReferences>
            <choiceReferences>SalesInternalReferral</choiceReferences>
            <choiceReferences>Marketplace</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Lead  /Opportunity Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CallRequired</name>
            <dataType>Boolean</dataType>
            <fieldText>Has the Lead specifically asked to be contacted?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Call_Notes</name>
            <fieldText>Call Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NewBusiness_ClosedWon_Reasons</name>
        <label>NewBusiness ClosedWon Reasons</label>
        <locationX>1044</locationX>
        <locationY>766</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignNewBusinessWinLossReasons</targetReference>
        </connector>
        <fields>
            <name>OpportunityDependentPicklist</name>
            <extensionName>c:oppStageDependentPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>NewOpportunity.StageName</assignToReference>
                <name>selectedStageFlow</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewOpportunity.Win_Loss_Other_Reason__c</assignToReference>
                <name>selectedWinLossRejectCommentsFlow</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>WinLossReasons</assignToReference>
                <name>selectedWinLossRejectReasonFlow</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewOpportunity.Win_Loss_Reject_Reasons_Level3__c</assignToReference>
                <name>selectedWinLossRejectLevel3Flow</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewOpportunity.Win_Loss_Reject_Reasons_Level2__c</assignToReference>
                <name>selectedWinLossRejectLevel2Flow</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewOpportunity.Win_Loss_Reject_Reasons_Level1__c</assignToReference>
                <name>selectedWinLossRejectLevel1Flow</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opp_Success_Screen</name>
        <label>Opp Success Screen</label>
        <locationX>1925</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Screen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(78, 215, 10); font-size: 16px; background-color: rgb(255, 255, 255); font-family: serif;&quot;&gt;Opportunity has been successfully created&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 215, 10); font-family: serif;&quot;&gt;Name:&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 215, 10); background-color: rgb(255, 255, 255); font-family: serif;&quot;&gt;{!NewOpportunity.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); font-family: serif; color: rgb(78, 215, 10);&quot;&gt;Close Date:{!NewOpportunity.CloseDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); font-family: serif; color: rgb(78, 215, 10);&quot;&gt;Type:{!NewOpportunity.Type}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>generate_lightning_url</name>
            <extensionName>c:generateLightningURL</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>NewOpportunity.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordName</name>
                <value>
                    <elementReference>NewOpportunity.Name</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Sale_Type</name>
        <label>Opportunity Sale Type</label>
        <locationX>842</locationX>
        <locationY>691</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DecisionInstantSale</targetReference>
        </connector>
        <fields>
            <name>SaleType</name>
            <choiceReferences>InstantSale</choiceReferences>
            <choiceReferences>FurtherDiscussion</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SaleType</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AdditionalDemoInformation</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Would you like to arrange a call back or book a demo ?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>YES</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>NO</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>StoreOutputAdditonalDemoInformation</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>opportunityvalidationScreen</name>
        <label>opportunityvalidationScreen</label>
        <locationX>898</locationX>
        <locationY>1070</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OppValidationMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Must provide a reason for Closed Won/Lost Opportunities. Please go back and fill out the Win/Loss Reason.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OppPicklistValidation</name>
        <label>OppPicklistValidation</label>
        <locationX>1383</locationX>
        <locationY>581</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ValidationError</name>
            <fieldText>&lt;p&gt;Error please select Opportunity type/Leadsource&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OppPicklistValidationNonReferral</name>
        <label>OppPicklistValidationNonReferral</label>
        <locationX>1967</locationX>
        <locationY>383</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ValidationErrorNonReferral</name>
            <fieldText>&lt;p&gt;Error please select Opportunity Source and Type and PriceBook&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OppPicklistValidationSBC</name>
        <label>OppPicklistValidationSBC</label>
        <locationX>936</locationX>
        <locationY>1415</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ValidationErrorSBCOpportunity</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 18, 6);&quot;&gt;Error: Please select Opportunity Source, Type , Locale ,SalesOffice and PriceBook&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OppRenewalValidationScreen</name>
        <label>OppRenewalValidationScreen</label>
        <locationX>1285</locationX>
        <locationY>1072</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OppRenewalValidation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Must provide a reason for Closed Won/Lost Opportunities. Please go back and fill out the Win/Loss Reason.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Error_Screen</name>
        <label>Product Error Screen</label>
        <locationX>348</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Products_Screen</targetReference>
        </connector>
        <fields>
            <name>Product_Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(218, 17, 17); background-color: rgb(255, 255, 255);&quot;&gt;&lt;/b&gt;&lt;b style=&quot;font-size: 18px; font-family: Calibri, sans-serif; color: rgb(205, 18, 18); background-color: rgb(255, 255, 255);&quot;&gt;Please select a product and save the record before pressing next&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Renewal_Business_Type</name>
        <label>Renewal Business Type</label>
        <locationX>1486</locationX>
        <locationY>737</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Closed_Won_Lost_Reasons</targetReference>
        </connector>
        <fields>
            <name>Sale_Type_Renewal</name>
            <choiceReferences>InstantSale</choiceReferences>
            <choiceReferences>FurtherDiscussion</choiceReferences>
            <choiceReferences>RenewalLost</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sale Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Expected_Value_RRP</name>
            <dataType>Currency</dataType>
            <fieldText>Monthly Expected Value (RRP)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Sale_Type_Renewal</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>InstantSale</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Sale_Type_Renewal</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>FurtherDiscussion</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Renewal_ClosedWonLost_Reasons</name>
        <label>Renewal ClosedWonLost Reasons</label>
        <locationX>1408</locationX>
        <locationY>829</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignWinLossReasons</targetReference>
        </connector>
        <fields>
            <name>OpportunityDependentPicklistWonLost</name>
            <extensionName>c:oppStageDependentPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>NewOpportunity.StageName</assignToReference>
                <name>selectedStageFlow</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewOpportunity.Win_Loss_Other_Reason__c</assignToReference>
                <name>selectedWinLossRejectCommentsFlow</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewOpportunity.Win_Loss_Reject_Reasons_Level1__c</assignToReference>
                <name>selectedWinLossRejectLevel1Flow</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewOpportunity.Win_Loss_Reject_Reasons_Level2__c</assignToReference>
                <name>selectedWinLossRejectLevel2Flow</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewOpportunity.Win_Loss_Reject_Reasons_Level3__c</assignToReference>
                <name>selectedWinLossRejectLevel3Flow</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>WinLossReasons</assignToReference>
                <name>selectedWinLossRejectReasonFlow</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SBC_Instant_Sale</name>
        <label>SBC Instant Sale</label>
        <locationX>1926</locationX>
        <locationY>1542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OpportunityAssistedSales</name>
            <extensionName>c:OpportunityAssistedSales</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>NewOpportunity.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Small_Micro_Products</name>
        <label>Small Micro Products</label>
        <locationX>1567</locationX>
        <locationY>322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OppLeadSourceTypeValidation</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Type_Small_Medium</name>
            <choiceReferences>OpportunityTypePicklist</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Opportunity Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Opportunity_Source_Small_Medium</name>
            <choiceReferences>AccountantsReferral</choiceReferences>
            <choiceReferences>ColleaguesReferral</choiceReferences>
            <choiceReferences>CustomerServicesReferral</choiceReferences>
            <choiceReferences>CustomersReferral</choiceReferences>
            <choiceReferences>InProductRequest</choiceReferences>
            <choiceReferences>Marketing</choiceReferences>
            <choiceReferences>PartnersReferral</choiceReferences>
            <choiceReferences>ProfessionalServicesReferral</choiceReferences>
            <choiceReferences>SalesGenerated</choiceReferences>
            <choiceReferences>SalesInternalReferral</choiceReferences>
            <choiceReferences>Marketplace</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Lead / Opportunity Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Marketing_Channel_Small_Medium</name>
            <choiceReferences>Marketing_Channel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Marketing Channel</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Opportunity_Source_Small_Medium</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Marketing</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Description_Small_Medium</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HotTransferToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Is this a Hot Transfer?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>YES</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>NO</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HotTransferToggleOutputValue</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Call_Back_Date_Small_Medium</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Callback or Transfer Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Call Back Date must be today or a future date.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Call_Back_Date_Small_Medium} &gt;={!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>327</locationX>
        <locationY>247</locationY>
        <connector>
            <targetReference>Get_Account_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssistedSalesAgentGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssistedSalesManagerGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssistedSalesUserGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of Bill To Contact</description>
        <name>BillToContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClosedLostReasons</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Closed Won Reasons</description>
        <name>ClosedWonReasons</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>HotTransferToggleOutputValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Locale Id</description>
        <name>LocaleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>NewOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>PriceBook to use to select products and record against the Opportunity</description>
        <name>PriceBookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductJSONString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>[]</stringValue>
        </value>
    </variables>
    <variables>
        <name>productsaved</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>QueueGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedLookUpRecordsString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>[]</stringValue>
        </value>
    </variables>
    <variables>
        <description>To validate Picklist value for Opportunity type/leadsource for referral opp</description>
        <name>showError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SmallOpportunityRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreAssistedSalesRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>StoreOutputAdditonalDemoInformation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>WinLossReasons</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
