dxscale/sales/opportunityCreationFlow/flows/France_Opportunity_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreateLineItems</name>
        <label>Create Line Items</label>
        <locationX>1011</locationX>
        <locationY>678</locationY>
        <actionName>OpportunityProductFLowCtrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>OpportunityContactRole</targetReference>
        </connector>
        <inputParameters>
            <name>jsonString</name>
            <value>
                <elementReference>ProductJSONString</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>NewOpportunity.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>OpportunityFieldValues</name>
        <label>Opportunity Field Values</label>
        <locationX>863</locationX>
        <locationY>530</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityType.selectedValueInFlow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Product_Solution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BusinessCategory.selectedValueInFlow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunitySource.selectedValueInFlow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Channel_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChannelType.selectedValueInFlow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountDetails.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountDetails.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountDetails.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityRecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Compliance_Usage_Rights__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplianceAction.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.isComplianceActionLinked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplianceAction.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.CreatedByFlow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>France Opp Creation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateOpportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckAllFieldsPopulated</name>
        <label>Check All Fields Populated</label>
        <locationX>549</locationX>
        <locationY>701</locationY>
        <defaultConnector>
            <targetReference>ProductSelector</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutComeCheckAllReqFieldsPopulated</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>BusinessCategory.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityType.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>OpportunitySource.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ChannelType.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>FranceMediumOpportunityCreation</targetReference>
            </connector>
            <label>OutComeCheckAllReqFieldsPopulated</label>
        </rules>
    </decisions>
    <decisions>
        <description>Returnback to Contact selector if contact not slected</description>
        <name>checkContact</name>
        <label>checkContact</label>
        <locationX>667</locationX>
        <locationY>383</locationY>
        <defaultConnector>
            <targetReference>FranceMediumOpportunityCreation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeCheckContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ContactSelector</targetReference>
            </connector>
            <label>OutcomeCheckContact</label>
        </rules>
    </decisions>
    <decisions>
        <name>PartnerSelection</name>
        <label>PartnerSelection</label>
        <locationX>1548</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>OpportunitySuccess</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutComePartnerSelection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChannelType.selectedValueInFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indirect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Partner_selection_with_role</targetReference>
            </connector>
            <label>OutComePartnerSelection</label>
        </rules>
    </decisions>
    <description>To support creation of Flows for France</description>
    <interviewLabel>France Opportunity Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>France Opportunity Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create the Opportunity based on the assignments</description>
        <name>CreateOpportunity</name>
        <label>Create Opportunity</label>
        <locationX>1056</locationX>
        <locationY>512</locationY>
        <connector>
            <targetReference>CreateLineItems</targetReference>
        </connector>
        <inputReference>NewOpportunity</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create OpportunityContactRole</description>
        <name>OpportunityContactRole</name>
        <label>OpportunityContactRole</label>
        <locationX>1344</locationX>
        <locationY>401</locationY>
        <connector>
            <targetReference>PartnerSelection</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Business User</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get the details of the account based on the recordid</description>
        <name>GetAccountDetails</name>
        <label>Get Account Details</label>
        <locationX>1033</locationX>
        <locationY>367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactSelector</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>acccRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ContactSelector</name>
        <label>Contact Selector</label>
        <locationX>893</locationX>
        <locationY>388</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>checkContact</targetReference>
        </connector>
        <fields>
            <name>selectContact</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(189, 20, 20); background-color: rgb(255, 255, 255);&quot;&gt;*Please select a contact.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountContactSelector</name>
            <extensionName>c:AccountContactSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetAccountDetails.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <elementReference>contactId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contactId</assignToReference>
                <name>contactId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FranceMediumOpportunityCreation</name>
        <label>France Medium Opportunity Creation</label>
        <locationX>552</locationX>
        <locationY>469</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckAllFieldsPopulated</targetReference>
        </connector>
        <fields>
            <name>RequiredFieldDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 11, 45);&quot;&gt;Please make sure to provide Values for all required fields(*)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OpportunityName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OpportunityName</elementReference>
            </defaultValue>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OpportunityType</name>
            <extensionName>c:wireGetPicklistValuesByRecordType</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>OpportunityRecordTypeID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabelName</name>
                <value>
                    <stringValue>Opportunity Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>OpportunityType.selectedValue</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CloseDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>CloseDate</elementReference>
            </defaultValue>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;CloseDate must be a today date time or a future date .&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!CloseDate}  &gt;= {!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>BusinessCategory</name>
            <extensionName>c:wireGetPicklistValuesByRecordType</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Product_Solution__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>OpportunityRecordTypeID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabelName</name>
                <value>
                    <stringValue>Business Category</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>BusinessCategory.selectedValue</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>OpportunitySource</name>
            <extensionName>c:wireGetPicklistValuesByRecordType</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Lead_Source__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>OpportunityRecordTypeID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabelName</name>
                <value>
                    <stringValue>Opportunity Source</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>OpportunitySource.selectedValue</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ChannelType</name>
            <extensionName>c:wireGetPicklistValuesByRecordType</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>OpportunityRecordTypeID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Channel_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabelName</name>
                <value>
                    <stringValue>Channel Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>ChannelType.selectedValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ComplianceAction</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>isComplianceActionLinked__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Compliance_Usage_Rights__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <stringValue>Compliance_Usage_Rights__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Is this opportunity linked with a compliance action?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Please select the required compliance action:</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OpportunitySuccess</name>
        <label>Opportunity Success</label>
        <locationX>1352</locationX>
        <locationY>798</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OppSuccessScreen</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(78, 215, 10); font-size: 16px; background-color: rgb(255, 255, 255); font-family: serif;&quot;&gt;Opportunity has been successfully created&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 215, 10); font-family: serif;&quot;&gt;Name:&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 215, 10); font-family: serif; background-color: rgb(255, 255, 255);&quot;&gt;{!NewOpportunity.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); font-family: serif; color: rgb(78, 215, 10);&quot;&gt;Close Date:{!NewOpportunity.CloseDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); font-family: serif; color: rgb(78, 215, 10);&quot;&gt;Type:{!NewOpportunity.Type}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); font-family: serif; color: rgb(7, 43, 224);&quot;&gt;Link to Opportunity &lt;/span&gt;&lt;a href=&quot;/{!NewOpportunity.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); font-family: serif; color: rgb(7, 43, 224);&quot;&gt;/{!NewOpportunity.Id}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ProductSelector</name>
        <label>Product Selector</label>
        <locationX>759</locationX>
        <locationY>612</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OpportunityFieldValues</targetReference>
        </connector>
        <fields>
            <name>ProductsCards</name>
            <extensionName>c:OpportunityProductCards</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currencyISOCode</name>
                <value>
                    <elementReference>GetAccountDetails.CurrencyIsoCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pricebookId</name>
                <value>
                    <stringValue>01s240000055FU3AAM</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>productJSONString</name>
                <value>
                    <elementReference>ProductJSONString</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedLookUpRecordsString</name>
                <value>
                    <elementReference>selectedLookUpRecordsString</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>acccRecordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>PriceBookId</assignToReference>
                <name>pricebookId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ProductJSONString</assignToReference>
                <name>productJSONString</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedLookUpRecordsString</assignToReference>
                <name>selectedLookUpRecordsString</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>productsSaved</assignToReference>
                <name>productsaved</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>915</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>RecordTypeSelection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Provides a way to select the Primary Partner and Role</description>
        <name>Opportunity_Partner_selection_with_role</name>
        <label>Opportunity Partner selection with role</label>
        <locationX>1587</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>OpportunitySuccess</targetReference>
        </connector>
        <flowName>Opportunity_Primary_Partner_Selection</flowName>
        <inputAssignments>
            <name>OpportunityAccountID</name>
            <value>
                <elementReference>NewOpportunity.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>NewOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Opportunity RecordType Selection</description>
        <name>RecordTypeSelection</name>
        <label>RecordTypeSelection</label>
        <locationX>1049</locationX>
        <locationY>235</locationY>
        <connector>
            <targetReference>GetAccountDetails</targetReference>
        </connector>
        <flowName>Opportunity_RecordType_Selection</flowName>
        <outputAssignments>
            <assignToReference>OpportunityRecordTypeID</assignToReference>
            <name>OpportuntiyRecordTypeID</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>acccRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PriceBookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductJSONString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>[]</stringValue>
        </value>
    </variables>
    <variables>
        <name>productsSaved</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>selectedLookUpRecordsString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>[]</stringValue>
        </value>
    </variables>
</Flow>
