dxscale/sales/opportunityCreationFlow/flows/Opportunity_RecordType_Selection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>Altify</name>
        <choiceText>Medium Altify(For X3 Opportunities only)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medium – Altify Opportunity</stringValue>
        </value>
    </choices>
    <choices>
        <name>Standard</name>
        <choiceText>Medium Standard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medium - Standard Opportunity</stringValue>
        </value>
    </choices>
    <description>Opportunity RecordType Selection</description>
    <interviewLabel>Opportunity RecordType Selection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity RecordType Selection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>OpportunityRecordTypeID</name>
        <label>OpportunityRecordTypeID</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Opportunity_RecordTypes</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>OpportuntiyRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Choose_Opportunity_RecordType</name>
        <label>Choose Opportunity RecordType</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OpportunityRecordTypeID</targetReference>
        </connector>
        <fields>
            <name>Opportunity_RecordTypes</name>
            <choiceReferences>Altify</choiceReferences>
            <choiceReferences>Standard</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Opportunity RecordType</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Choose_Opportunity_RecordType</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>OpportuntiyRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
