dxscale/sales/main/flows/Account_Contact_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Account</name>
        <label>Assign Account</label>
        <locationX>603</locationX>
        <locationY>603</locationY>
        <assignmentItems>
            <assignToReference>AccountR.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountR.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountR.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountR.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountR.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountR.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountR.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountR.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountR.CreatedByFlow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Intouch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>size of getLocale Records</description>
        <name>countOfLocales</name>
        <label>countOfLocales</label>
        <locationX>568</locationX>
        <locationY>157</locationY>
        <assignmentItems>
            <assignToReference>varReturnedLocaleRecordsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ReturnedLocaleRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isLocaleEmptyOrOne</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>firstLocaleID</name>
        <label>firstLocaleID</label>
        <locationX>749</locationX>
        <locationY>504</locationY>
        <assignmentItems>
            <assignToReference>LocaleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getLocaleID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LocaleLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getLocaleID.Language__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LocaleCurrency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getLocaleID.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountR.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocaleCurrency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Non_intouch</name>
        <label>Non intouch</label>
        <locationX>944</locationX>
        <locationY>499</locationY>
        <assignmentItems>
            <assignToReference>AccountR.Local_CRM_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocalCRMcountry1.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountR.Local_CRM_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocalCRMcountry1.bottomValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountR.Local_CRM_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocalCRMcountry1.topValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account_nonIntouch</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AccountType1</name>
        <choiceText>Prospect (Non Accountant)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prospect (Non Accountant)</stringValue>
        </value>
    </choices>
    <choices>
        <name>AccountType2</name>
        <choiceText>Customer (Non Accountant)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer (Non Accountant)</stringValue>
        </value>
    </choices>
    <choices>
        <name>AccountType3</name>
        <choiceText>Former Customer (Non Accountant)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Former Customer (Non Accountant)</stringValue>
        </value>
    </choices>
    <choices>
        <name>AccountType4</name>
        <choiceText>Accountant Prospect</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accountant Prospect</stringValue>
        </value>
    </choices>
    <choices>
        <name>AccountType5</name>
        <choiceText>Accountant Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accountant Customer</stringValue>
        </value>
    </choices>
    <choices>
        <name>AccountType6</name>
        <choiceText>Partner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Partner</stringValue>
        </value>
    </choices>
    <choices>
        <name>AccountType7</name>
        <choiceText>Competitor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Competitor</stringValue>
        </value>
    </choices>
    <choices>
        <name>AccountType8</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_If_Intouch</name>
        <label>Check If Intouch</label>
        <locationX>1065</locationX>
        <locationY>215</locationY>
        <defaultConnector>
            <targetReference>Non_intouch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Intouch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocalCRMcountry1.bottomValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INT - InTouch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account</targetReference>
            </connector>
            <label>Intouch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Madatory</name>
        <label>Contact Madatory</label>
        <locationX>721</locationX>
        <locationY>21</locationY>
        <defaultConnector>
            <targetReference>getLocale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>contactMandatory</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Name.lastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Address.city</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Address.street</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Address.country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Account</targetReference>
            </connector>
            <label>contact and address Mandatory</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Intouch</name>
        <label>If Intouch</label>
        <locationX>1495</locationX>
        <locationY>391</locationY>
        <defaultConnector>
            <targetReference>Success_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Intouch_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocalCRMcountry1.bottomValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INT - InTouch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Intouch</label>
        </rules>
    </decisions>
    <decisions>
        <description>Locale is set only for few countries. Hence , if the Locale is empty don&apos;t display the screen.</description>
        <name>isLocaleEmptyOrOne</name>
        <label>isLocaleEmptyOrOne</label>
        <locationX>300</locationX>
        <locationY>275</locationY>
        <defaultConnector>
            <targetReference>collectLocaleInformation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isLocaleEmptyOrOneOutcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varReturnedLocaleRecordsCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varReturnedLocaleRecordsCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>oneLocaleReturned</targetReference>
            </connector>
            <label>isLocaleEmptyOrOneOutcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>oneLocaleReturned</name>
        <label>oneLocaleReturned</label>
        <locationX>548</locationX>
        <locationY>277</locationY>
        <defaultConnector>
            <targetReference>Assign_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>oneLocaleReturnedOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReturnedLocaleRecordsCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getLocaleID</targetReference>
            </connector>
            <label>oneLocaleReturnedOutcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Country</name>
        <label>User Country</label>
        <locationX>168</locationX>
        <locationY>219</locationY>
        <defaultConnector>
            <targetReference>Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Allowed_User</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UserCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingdom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SystemAdmin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ireland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Account</targetReference>
            </connector>
            <label>Allowed User</label>
        </rules>
    </decisions>
    <description>Account Contact Creation - Helps user to create account and contact with minimal/required info.</description>
    <dynamicChoiceSets>
        <name>AccountType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LocalCRMCountry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Local_CRM_Country__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LocalCRMName</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Local_CRM_Name__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LocalCRMRegion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Local_CRM_Region__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordChoiceLocaleValues</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>Address.country</elementReference>
            </value>
        </filters>
        <limit>3</limit>
        <object>Locale__c</object>
        <outputAssignments>
            <assignToReference>LocaleCurrency</assignToReference>
            <field>CurrencyIsoCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LocaleId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LocaleLanguage</assignToReference>
            <field>Language__c</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>SystemAdmin</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <formulas>
        <name>UserCountry</name>
        <dataType>String</dataType>
        <expression>{!$User.Country}</expression>
    </formulas>
    <interviewLabel>Account Contact Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Contact Creation</label>
    <loops>
        <name>getLocaleID</name>
        <label>getLocaleID</label>
        <locationX>740</locationX>
        <locationY>279</locationY>
        <collectionReference>ReturnedLocaleRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>firstLocaleID</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>1132</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>CreateContact</targetReference>
        </connector>
        <inputReference>AccountR</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Account_nonIntouch</name>
        <label>Create Account</label>
        <locationX>1151</locationX>
        <locationY>320</locationY>
        <connector>
            <targetReference>CreateContact</targetReference>
        </connector>
        <inputReference>AccountR</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateContact</name>
        <label>Create Contact</label>
        <locationX>1527</locationX>
        <locationY>59</locationY>
        <connector>
            <targetReference>UpdateAccountWithLocalee</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountR.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Contact_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Contact_Name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language__c</field>
            <value>
                <elementReference>LocaleLanguage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Contact_Name.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>Address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>Address.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>Address.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>Address.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>Address.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>AccountR.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <description>Get the Locale based on the billing country selected</description>
        <name>getLocale</name>
        <label>getLocale</label>
        <locationX>703</locationX>
        <locationY>165</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>countOfLocales</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>Address.country</elementReference>
            </value>
        </filters>
        <object>Locale__c</object>
        <outputReference>ReturnedLocaleRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Language__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update Account with CRM</description>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>1639</locationX>
        <locationY>479</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountR.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Local_CRM_Country__c</field>
            <value>
                <elementReference>LocalCRMcountry1.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_CRM_Name__c</field>
            <value>
                <elementReference>LocalCRMcountry1.bottomValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_CRM_Region__c</field>
            <value>
                <elementReference>LocalCRMcountry1.topValue</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Locale has a lookup filter enabled so we can&apos;t insert the locale at the time of creation.</description>
        <name>UpdateAccountWithLocalee</name>
        <label>UpdateAccountWithLocalee</label>
        <locationX>1515</locationX>
        <locationY>211</locationY>
        <connector>
            <targetReference>If_Intouch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountR.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>LocaleCurrency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Locale__c</field>
            <value>
                <elementReference>LocaleId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <description>Display locale based on the billing country selected</description>
        <name>collectLocaleInformation</name>
        <label>collectLocaleInformation</label>
        <locationX>295</locationX>
        <locationY>529</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Account</targetReference>
        </connector>
        <fields>
            <name>selectLocale</name>
            <choiceReferences>RecordChoiceLocaleValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>selectLocale</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_New_Account</name>
        <label>Create New Account</label>
        <locationX>476</locationX>
        <locationY>45</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Contact_Madatory</targetReference>
        </connector>
        <fields>
            <name>AccountName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountName</elementReference>
            </defaultValue>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>AccountType1</choiceReferences>
            <choiceReferences>AccountType2</choiceReferences>
            <choiceReferences>AccountType3</choiceReferences>
            <choiceReferences>AccountType4</choiceReferences>
            <choiceReferences>AccountType5</choiceReferences>
            <choiceReferences>AccountType6</choiceReferences>
            <choiceReferences>AccountType7</choiceReferences>
            <choiceReferences>AccountType8</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Phone.value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Address.city</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Address.country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Address.postalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Address.province</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Address.street</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 8, 8);&quot;&gt;Address  Street , City , Country are Mandatory&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Address.city</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
                <conditions>
                    <leftValueReference>Address.street</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
                <conditions>
                    <leftValueReference>Address.country</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LocalCRMcountry1</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Local_CRM_Region__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Local_CRM_Country__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomPicklistApiName</name>
                <value>
                    <stringValue>Local_CRM_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>LocalCRMcountry1.topValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>LocalCRMcountry1.middleValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomValue</name>
                <value>
                    <elementReference>LocalCRMcountry1.bottomValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Address.country</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>United Kingdom</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Address.country</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Ireland</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Create_Contact1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(77, 11, 208); font-size: 14px;&quot;&gt;Create Contact&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact_Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>Contact_Name.firstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>Contact_Name.lastName</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(253, 12, 32);&quot;&gt;Contact  LastName is mandatory &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Contact_Name.lastName</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Contact_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>178</locationX>
        <locationY>488</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(237, 4, 4);&quot;&gt;Please contact your local super user for assistance.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>1328</locationX>
        <locationY>657</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AccountCreated</name>
            <fieldText>&lt;p&gt;Account is created successfully :&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/{!AccountR.Id}&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&lt;b&gt;&lt;u&gt;{!AccountR.Name}&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>79</locationY>
        <connector>
            <targetReference>User_Country</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Accountid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>country_n</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Get the currency based on the country</description>
        <name>LocaleCurrency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stored Locale ID based on country selected</description>
        <name>LocaleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocaleLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>locales</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locale__c</objectType>
    </variables>
    <variables>
        <name>ReturnedLocaleRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locale__c</objectType>
    </variables>
    <variables>
        <description>Country that was selected on the Input Screen</description>
        <name>selectedCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>typedefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Type</elementReference>
        </value>
    </variables>
    <variables>
        <description>Number of Locales returned</description>
        <name>varReturnedLocaleRecordsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
