dxscale/sales/main/flows/Activity_Migration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assigning_Activities_to_List_Of_Activities</name>
        <label>Assigning Activities to List Of Activities</label>
        <locationX>822</locationX>
        <locationY>225</locationY>
        <assignmentItems>
            <assignToReference>ActivityListToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Object2Activities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_Activities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Creating_New_Activities</name>
        <label>Creating New Activities</label>
        <locationX>820</locationX>
        <locationY>56</locationY>
        <assignmentItems>
            <assignToReference>Object2Activities.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Object2ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object2Activities.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Object1Tasks.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object2Activities.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Object1Tasks.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object2Activities.Reminder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Object1Tasks.Reminder__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object2Activities.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Object1Tasks.ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object2Activities.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Object1Tasks.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object2Activities.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Object1Tasks.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object2Activities.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Object1Tasks.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigning_Activities_to_List_Of_Activities</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_The_Activities</name>
        <label>Check The Activities</label>
        <locationX>454</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Activities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetStoredActivities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Looping_Activities</targetReference>
            </connector>
            <label>Activities</label>
        </rules>
    </decisions>
    <interviewLabel>Activity Migration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activity Migration</label>
    <loops>
        <name>Looping_Activities</name>
        <label>Looping Activities</label>
        <locationX>647</locationX>
        <locationY>49</locationY>
        <assignNextValueToReference>Object1Tasks</assignNextValueToReference>
        <collectionReference>GetStoredActivities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Creating_New_Activities</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Activities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Activities</name>
        <label>Insert Activities</label>
        <locationX>592</locationX>
        <locationY>264</locationY>
        <inputReference>ActivityListToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Activities</name>
        <label>Get Activities</label>
        <locationX>343</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_The_Activities</targetReference>
        </connector>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Object1ID</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>GetStoredActivities</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Reminder__c</queriedFields>
        <queriedFields>ActivityDate</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <screens>
        <name>Activity_Migration</name>
        <label>Activity Migration</label>
        <locationX>185</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Activities</targetReference>
        </connector>
        <fields>
            <name>ActivityMigration</name>
            <fieldText>&lt;p&gt;Migrate Activities from  &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Object1Name} &lt;/span&gt;to &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Object2Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Object_1_Id</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Object1ID</elementReference>
            </defaultValue>
            <fieldText>Object 1 Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Object1ID</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Object_2_Id</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Object2ID</elementReference>
            </defaultValue>
            <fieldText>Object 2 Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Object2ID</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Activity_Migration</startElementReference>
    <status>Active</status>
    <variables>
        <name>ActivityListToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>GetStoredActivities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Object1ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Object1Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Object1Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Object2Activities</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Object2ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Object2Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
