dxscale/sales/main/flows/Opportunity_Primary_Partner_Selection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>CheckIfOpportunityAccountIDEqualsPartnerAccountID</name>
        <label>CheckIfOpportunityAccountIDEqualsPartnerAccountID</label>
        <locationX>515</locationX>
        <locationY>188</locationY>
        <defaultConnector>
            <targetReference>IncorrectPartnerScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutComeCheckIfOpportunityAccountIDEqualsPartnerAccountID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Partner_Account.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OpportunityAccountID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Partner</targetReference>
            </connector>
            <label>OutComeCheckIfOpportunityAccountIDEqualsPartnerAccountID</label>
        </rules>
    </decisions>
    <description>Provides the option to add one Primary Partner to the Opportunity</description>
    <dynamicChoiceSets>
        <description>Partner Roles</description>
        <name>PartnerRoles</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Role</picklistField>
        <picklistObject>Partner</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Opportunity Primary Partner Selection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Primary Partner Selection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create the Opportunity Partner Role</description>
        <name>Create_Opportunity_Partner</name>
        <label>Create Opportunity Partner</label>
        <locationX>810</locationX>
        <locationY>155</locationY>
        <inputAssignments>
            <field>AccountToId</field>
            <value>
                <elementReference>Primary_Partner_Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <elementReference>Partner_Role</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityPartner</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>IncorrectPartnerScreen</name>
        <label>IncorrectPartnerScreen</label>
        <locationX>589</locationX>
        <locationY>412</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Primary_Partner_Selection</targetReference>
        </connector>
        <fields>
            <name>IncorrectPartnerAccountID</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(183, 21, 21);&quot;&gt;Error  : You can&apos;t relate an opportunity account as partner account . Please select a different account.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Primary_Partner_Selection</name>
        <label>Primary Partner Selection</label>
        <locationX>247</locationX>
        <locationY>239</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckIfOpportunityAccountIDEqualsPartnerAccountID</targetReference>
        </connector>
        <fields>
            <name>Primary_Partner_Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountToId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Partner Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>OpportunityPartner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Partner_Role</name>
            <choiceReferences>PartnerRoles</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Partner Role</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Primary_Partner_Selection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>AccountID from the Opportunity</description>
        <name>OpportunityAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID of the Opportunity</description>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
