dxscale/sales/main/flows/SBCA_UKI_Onboarding_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>Populating original opportunity information into new onboarding record creation.</description>
        <name>Assign_New_Opp_Record_Clone_Details</name>
        <label>Assign New Opp Record Clone Details</label>
        <locationX>403</locationX>
        <locationY>272</locationY>
        <assignmentItems>
            <assignToReference>RecVar_NewOppRecordClone.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recvar_Current_Opp.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_NewOppRecordClone.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_NewOppRecordClone.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_OppName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_NewOppRecordClone.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recvar_Current_Opp.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_NewOppRecordClone.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_NewOppRecordClone.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_NewOppRecordClone.Contract_Term_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_NewOppRecordClone.Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesGenerated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Opp_Record_Clone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Storing the original record into variable</description>
        <name>Assign_recordId</name>
        <label>Assign recordId</label>
        <locationX>169</locationX>
        <locationY>313</locationY>
        <assignmentItems>
            <assignToReference>var_recordId_Original_Opp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_current_Opp_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adding the individual iterations of contact roles to the collection variable..</description>
        <name>Update_OCR_rec_added_to_RCV_of_new_OCR_for_cloned_Opp_Rec</name>
        <label>Update OCR rec added to RCV of new OCR for cloned Opp Rec</label>
        <locationX>1138</locationX>
        <locationY>56</locationY>
        <assignmentItems>
            <assignToReference>RCV_ToBeCreated_Cloned_OpportunityContactRole</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_each_OppContactRole_in_RCV_add_new_OppID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_OppContactRole_in_RCV_add_new_OppID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adding the individual iterations of LineItems to the collection variable..</description>
        <name>Update_OLI_rec_added_to_RCV_of_new_OLI_for_cloned_Opp_Rec</name>
        <label>Update OLI rec added to RCV of new OLI for cloned Opp Rec</label>
        <locationX>1205</locationX>
        <locationY>545</locationY>
        <assignmentItems>
            <assignToReference>RCV_ToBeCreated_Cloned_OpportunityLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_each_OppLineItems_in_RCV_add_new_OppID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_OppLineItems_in_RCV_add_new_OppID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Updating loop iteration details of lineitems to the cloned record</description>
        <name>UpdateLoopVar_OLI_Opp_recId_to_Cloned_OppId</name>
        <label>UpdateLoopVar OLI  Opp recId to Cloned OppId</label>
        <locationX>1201</locationX>
        <locationY>397</locationY>
        <assignmentItems>
            <assignToReference>For_each_OppLineItems_in_RCV_add_new_OppID.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecVar_NewOppRecordClone.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>For_each_OppLineItems_in_RCV_add_new_OppID.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OLI_rec_added_to_RCV_of_new_OLI_for_cloned_Opp_Rec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Updating loop iteration details of contact roles to the cloned record</description>
        <name>UpdateLoopVar_Opp_recId_to_Cloned_OppId</name>
        <label>UpdateLoopVar Opp recId to Cloned OppId</label>
        <locationX>960</locationX>
        <locationY>30</locationY>
        <assignmentItems>
            <assignToReference>For_each_OppContactRole_in_RCV_add_new_OppID.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecVar_NewOppRecordClone.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>For_each_OppContactRole_in_RCV_add_new_OppID.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OCR_rec_added_to_RCV_of_new_OCR_for_cloned_Opp_Rec</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Performing Conditional check on the related records for LineItems and ContactRoles</description>
        <name>Are_the_contactroles_lineItems_available</name>
        <label>Are the contactroles/lineItems available</label>
        <locationX>825</locationX>
        <locationY>274</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContactRolesExisted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RCV_OppContactRoles_records_w_OppID_CurrOppID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>For_each_OppContactRole_in_RCV_add_new_OppID</targetReference>
            </connector>
            <label>ContactRolesExisted</label>
        </rules>
        <rules>
            <name>LineItemsExisted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RCV_OppLineItems_records_w_OppID_CurrOppID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Are_the_LineItems_available</targetReference>
            </connector>
            <label>LineItemsExisted</label>
        </rules>
        <rules>
            <name>BothLineItemsAndContactRolesDoesNotExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RCV_OppLineItems_records_w_OppID_CurrOppID</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_RCV_OppContactRoles_records_w_OppID_CurrOppID</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Success_Message_Screen</targetReference>
            </connector>
            <label>BothLineItemsAndContactRolesDoesNotExist</label>
        </rules>
    </decisions>
    <decisions>
        <description>Performing Conditional check on the related records for LineItems</description>
        <name>Are_the_LineItems_available</name>
        <label>Are the LineItems available</label>
        <locationX>958</locationX>
        <locationY>370</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LineItemsExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RCV_OppLineItems_records_w_OppID_CurrOppID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>For_each_OppLineItems_in_RCV_add_new_OppID</targetReference>
            </connector>
            <label>LineItemsExist</label>
        </rules>
        <rules>
            <name>LineItemsDoesnotExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RCV_OppLineItems_records_w_OppID_CurrOppID</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Success_Message_Screen</targetReference>
            </connector>
            <label>LineItemsDoesnotExist</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validating the user decision to automate the onboarding journey</description>
        <name>User_wanted_to_Clone_the_Opportunity</name>
        <label>User wanted to Clone the Opportunity</label>
        <locationX>66</locationX>
        <locationY>176</locationY>
        <defaultConnector>
            <targetReference>Message_screen_to_end_user</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CloneOptionSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_clone_the_opportunity_for_onboarding_purpose</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_recordId</targetReference>
            </connector>
            <label>CloneOptionSelected</label>
        </rules>
    </decisions>
    <description>This flow is used for providing the feasibility to automate records creation for SBCA UKI Onboarding journey</description>
    <formulas>
        <name>Formula_CloseDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+30</expression>
    </formulas>
    <formulas>
        <name>Formula_OppName</name>
        <dataType>String</dataType>
        <expression>&apos;OB:&apos;+{!Recvar_Current_Opp.Name}</expression>
    </formulas>
    <interviewLabel>SBCA UKI Onboarding Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SBCA UKI Onboarding Automation</label>
    <loops>
        <description>For each OCR  record stored in RCV add it to the new Opportunity ID</description>
        <name>For_each_OppContactRole_in_RCV_add_new_OppID</name>
        <label>For each OppContactRole in RCV add new OppID</label>
        <locationX>963</locationX>
        <locationY>178</locationY>
        <collectionReference>Get_RCV_OppContactRoles_records_w_OppID_CurrOppID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateLoopVar_Opp_recId_to_Cloned_OppId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_cloned_and_updated_OppContactRole_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>For each OLI  record stored in RCV add it to the new Opportunity ID</description>
        <name>For_each_OppLineItems_in_RCV_add_new_OppID</name>
        <label>For each OppLineItems in RCV add new OppID</label>
        <locationX>1046</locationX>
        <locationY>480</locationY>
        <collectionReference>Get_RCV_OppLineItems_records_w_OppID_CurrOppID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateLoopVar_OLI_Opp_recId_to_Cloned_OppId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_cloned_and_updated_OppLineItem_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creating the Contact roles under the Clones record for onboarding process.</description>
        <name>Create_cloned_and_updated_OppContactRole_records</name>
        <label>Create cloned and updated OppContactRole records</label>
        <locationX>1140</locationX>
        <locationY>198</locationY>
        <connector>
            <targetReference>Are_the_LineItems_available</targetReference>
        </connector>
        <inputReference>RCV_ToBeCreated_Cloned_OpportunityContactRole</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Creating the Line Items under the Clones record for onboarding process.</description>
        <name>Create_cloned_and_updated_OppLineItem_records</name>
        <label>Create cloned and updated OppLineItem records</label>
        <locationX>930</locationX>
        <locationY>593</locationY>
        <connector>
            <targetReference>Success_Message_Screen</targetReference>
        </connector>
        <inputReference>RCV_ToBeCreated_Cloned_OpportunityLineItems</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create new opportunity record for onboarding purpose.</description>
        <name>Create_New_Opp_Record_Clone</name>
        <label>Create New Opp Record Clone</label>
        <locationX>515</locationX>
        <locationY>272</locationY>
        <connector>
            <targetReference>Get_RCV_OppContactRoles_records_w_OppID_CurrOppID</targetReference>
        </connector>
        <inputReference>RecVar_NewOppRecordClone</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Fetching the original Opportunity record id information.</description>
        <name>Get_current_Opp_Record</name>
        <label>Get current Opp Record</label>
        <locationX>293</locationX>
        <locationY>271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_New_Opp_Record_Clone_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_recordId_Original_Opp</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Recvar_Current_Opp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>Contract_Term_Months__c</queriedFields>
        <queriedFields>Lead_Source__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get the details for the Opportunity Contact Role records that are related to the Opportunity ID and store in RCV</description>
        <name>Get_RCV_OppContactRoles_records_w_OppID_CurrOppID</name>
        <label>Get RCV_OppContactRoles records w OppID = CurrOppID</label>
        <locationX>622</locationX>
        <locationY>272</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RCV_OppLineItems_records_w_OppID_CurrOppID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_recordId_Original_Opp</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>IsPrimary</queriedFields>
        <queriedFields>IsDeleted</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the details for the Opportunity LineItem records that are related to the Opportunity ID and store in RCV</description>
        <name>Get_RCV_OppLineItems_records_w_OppID_CurrOppID</name>
        <label>Get RCV_OppLineItems records w OppID = CurrOppID</label>
        <locationX>720</locationX>
        <locationY>272</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_the_contactroles_lineItems_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_recordId_Original_Opp</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Commercialisation_Mode__c</queriedFields>
        <queriedFields>Product_Deployment__c</queriedFields>
        <queriedFields>Monthly_Recurring_Revenue__c</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Message_screen_to_end_user</name>
        <label>Message screen to end user</label>
        <locationX>73</locationX>
        <locationY>439</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Assistance_Message</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(78, 215, 10); background-color: rgb(255, 255, 255);&quot;&gt;Please select the checkbox if you wish to automate the opportunity record creation for onboarding.﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SBCA_Clone_Opportunity_Record</name>
        <label>SBCA Clone Opportunity Record</label>
        <locationX>593</locationX>
        <locationY>77</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>User_wanted_to_Clone_the_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_clone_the_opportunity_for_onboarding_purpose</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Do you want to clone the opportunity for onboarding purpose ?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Message_Screen</name>
        <label>Success Message Screen</label>
        <locationX>776</locationX>
        <locationY>646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(78, 215, 10); font-size: 16px; background-color: rgb(255, 255, 255); font-family: serif;&quot;&gt;Opportunity has been successfully created for Onboarding Purpose.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 215, 10); font-family: serif;&quot;&gt;Name:&lt;/span&gt;&lt;span style=&quot;color: rgb(78, 215, 10); background-color: rgb(255, 255, 255);&quot;&gt;{!RecVar_NewOppRecordClone.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(78, 215, 10); background-color: rgb(255, 255, 255); font-family: serif; font-size: 16px;&quot;&gt;CloseDate:&lt;/span&gt;&lt;span style=&quot;color: rgb(78, 215, 10); background-color: rgb(255, 255, 255);&quot;&gt;{!RecVar_NewOppRecordClone.CloseDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(78, 215, 10); background-color: rgb(255, 255, 255); font-family: serif; font-size: 16px;&quot;&gt;StageName:&lt;/span&gt;&lt;span style=&quot;color: rgb(78, 215, 10); background-color: rgb(255, 255, 255);&quot;&gt;{!RecVar_NewOppRecordClone.StageName}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OppLink</name>
            <extensionName>c:generateLightningURL</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>RecVar_NewOppRecordClone.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordName</name>
                <value>
                    <elementReference>RecVar_NewOppRecordClone.Name</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SBCA_Clone_Opportunity_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RCV_ToBeCreated_Cloned_OpportunityContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>RCV_ToBeCreated_Cloned_OpportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Recvar_Current_Opp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>RecVar_NewOppRecordClone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>var_recordId_Original_Opp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
